[2017-10-16 09:59] bvipul opened #6 "Error in User Management while editing any user"
There is an error while editing any user other then admin.

You can find the below stack Trace.

ErrorException thrown with message "Undefined variable: user_roles (View: /var/www/html/laravel-adminpanel/resources/views/backend/access/edit.blade.php)"

Stacktrace:
#73 ErrorException in /var/www/html/laravel-adminpanel/storage/framework/views/d23ccd6b53cc6f5d017a56703493fac05bec50cd.php:144
#72 {ma

[2017-10-16 10:02] bvipul opened #7 "Error in Role Management while editing any role"
There is an error while editing any role.

You can find the stacktrace below:
ErrorException thrown with message "Undefined variable: role_permissions (View: /var/www/html/laravel-adminpanel/resources/views/backend/access/roles/edit.blade.php)"

Stacktrace:
#73 ErrorException in /var/www/html/laravel-adminpanel/storage/framework/views/811ca5a706a13df909f8b17ed5cfa3f25932431c.php:54
#72 {main} in /

[2017-10-16 10:35] bvipul opened #8 "Menus Export Error"
Export functionality not working in Menu Management.

When you click on export, the dropdown with possible options show up but nothing happens when you click on them.

[2017-10-17 03:32] erisitohang opened #14 "Class StateTableSeeder does not exist"
db:seed not working because missing file StateTableSeeder

[2017-10-17 04:44] viralsolani commented on #7
Resolved

[2017-10-17 04:44] #7 closed

[2017-10-17 04:45] viralsolani commented on #6
Resolved

[2017-10-17 04:45] #6 closed

[2017-10-17 05:23] bvipul commented on #8
I will resolve this issue.

[2017-10-18 09:10] #14 closed

[2017-11-01 06:16] ruchit-viitorcloud opened #19 "Not able to add roles."
Hello Viral

I clone your laravel-adminpanel and its really great and well structure, but when i go through the role management i faced issue while adding new role. So i created issue for the same and also requesting for pull request once i done with this error.

Thanks.

[2017-11-01 07:31] viralsolani commented on #19
Thanks Ruchit for resolving issue

[2017-11-01 07:31] #19 closed

[2017-11-23 20:00] gautamr777 opened #28 "Application key generate Issue."
When i clone project after composer update then after APP_KEY generate so error found some thing like this
  [RuntimeException]
  No application encryption key has been specified. ?

please tell me also issue for composer dump auto load, i found issue in window system.

[2017-11-23 20:07] gautamr777 opened #29 "NPM problem"
Hello,
  I have tested in windows system node js install using .exe then i run application not effect bootstrap js and fontawsome   icon apply in adminpanel.?

[2017-11-23 20:18] trollid commented on #28
let me pull fix for this one, and i'll open another issue about jwt

[2017-11-23 20:33] trollid opened #31 "[JWT] Laravel 5.5 use JWT dev"
error when
`php artisan jwt:generate`

Error :
[code]

please refer to new JWT for laravel 5.5

worth to take a look :
http://laravelcode.com/post/method-tymonjwtauthcommandsjwtgeneratecommandhandle-does-not-exist
https://github.com/tymondesigns/jwt-auth/issues/1298

[2017-11-24 19:25] viralsolani commented on #31
Thanks for resolving this issue.

[2017-11-24 19:25] #31 closed

[2017-11-24 19:27] viralsolani commented on #28
well since laravel 5.5, while running composer install, it is not creating the .env file. So before running composer install, just copy .env file from .env.example.

I've updated the readme as well.

[2017-11-24 19:27] #28 closed

[2017-11-24 19:29] viralsolani commented on #29
Please make sure you have the latest node installed. and after installing npm dependency, please run npm run development.

[2017-11-25 13:18] bvipul opened #36 "TinyMCE media upload not working"
Media upload through tinyMCE throughout the application not working. If somebody could look into this.

[2017-11-25 13:24] bvipul commented on #29
I also have this project installed on my windows system. I have the node and npm installed. Node(6.9.4) and npm(5.5.1), it is working perfectly. Can you please check your version of node and npm. @gautamr777

[2017-11-25 13:26] bvipul opened #37 "Breadcrumbs not working"
Breadcrumbs are not working throughout the application.

[2017-11-25 16:11] rebornishard opened #39 "Admin Access User error"
admin/access/user

SQL error user.first_name isn't in group by

[https://ctrlv.cz/shots/2017/11/25/zmEt.png](url)

[2017-11-27 09:49] viralsolani commented on #39
Hello @rebornishard

Take the latest pull of master branch.

Regenerate migration and seeders once

And check again. I've refactored whole backend user module.

[2017-11-29 16:06] viralsolani commented on #37
Resolved.

[2017-11-29 16:06] #37 closed

[2017-11-29 17:40] bvipul commented on #39
This issue is still not resolved, as I am also getting the same error in my machine. We need to fix this.

[2017-11-29 17:54] bvipul commented on #39
Added the PR. @viralsolani Please review and merge.

[2017-11-29 17:58] bvipul commented on #36
Added the PR #49 . @viralsolani Please review and merge.

[2017-11-29 18:23] trollid commented on #39
<< i'm another account of @rebornishard
thanks @bvipul

[2017-11-29 18:24] bvipul commented on #39
@rebornishard @trollid Did that solve your problem ?

[2017-11-29 18:31] trollid commented on #39
@bvipul hold on update composer & npm install

[2017-11-29 18:36] trollid commented on #39
@bvipul confirmed fixed, @viralsolani please
@bvipul thanks a lot

what i need for now is complete doc or guide how to expand or use

[2017-11-29 18:41] bvipul commented on #39
@trollid Everything is there in the Readme file of this project. If you find any issues and have some suggestion. Please mail me at basapativipulkumar@gmail.com or viral.solani@gmail.com

[2017-11-30 03:38] #39 closed

[2017-11-30 03:38] #36 closed

[2017-12-03 15:42] gautamr777 commented on #29
ok the problem is solved
Thanks.

[2017-12-03 15:42] #29 closed

[2017-12-06 00:07] hifce opened #61 "Trying to get property of non-object"
class FrontendController extends Controller
{
    /**
     * @return \Illuminate\View\View
     */
    public function index()
    {
        $settingData = Setting::first();
        $google_analytics = $settingData->google_analytics;

The last line throws this error:
Trying to get property of non-object.

This is a fresh install of laravel-adminpanel.

Thank you in advance!

Regards

[2017-12-06 01:40] tommycox commented on #61
Be sure that `php artisan db:seed` has run correctly. This should populate the settings table. I had an issue with running `db:seed` myself, hitting an error in `EmailTemplatePlaceholderTableSeeder`.

[code]

For the sake of testing, I commented out `DB::table(config('module.email_templates.placeholder_table'))->truncate();` and `DB::table(config('module.email_templates.placeholder_table'))->inser

[2017-12-06 03:54] #61 closed

[2017-12-06 04:14] viralsolani commented on #61
Thanks, @tommycox for resolving this issue.

[2017-12-06 04:41] viralsolani opened #65 "Images for readme"
![dashboard](https://user-images.githubusercontent.com/1780168/33644866-8f9e6a54-da6d-11e7-83ce-c4f2fb62ac33.png)
![users](https://user-images.githubusercontent.com/1780168/33644870-9700875a-da6d-11e7-859a-fadf7424f4d4.png)

[2017-12-06 05:08] #65 closed

[2017-12-09 18:55] bvipul opened #75 "Design of backend needs to have better color combination."
We have focused mainly on our functionality and not on how our design is looking. So, if anybody can assist us in changing or altering the color theme with a good one. We will appreciate it.

For doing changes in CSS of the project, you need to update the custom-style.css file in public/css folder.
You can run `npm run watch` to do changes and not do `npm run dev` again and again.
You will have to

[2017-12-18 12:05] nosfas opened #87 "Bug in user creation"
Created a new User on the Backend.
With Active, Send Confirmation, and User role checked.

Got the error:
Class 'App\Repositories\Backend\Access\User\UserNeedsConfirmation' not found
…\app\Repositories\Backend\Access\User\UserRepository.php117

Fixed it by calling "use App\Notifications\Frontend\Auth\UserNeedsConfirmation;"

[2017-12-18 12:30] nosfas opened #88 "User permission roles"
A new user with the user role, had no permissions selected bellow.
Clicking the "view Frontend" and the update button, doesn't work.
Clicking the User role again, until the "view Frontend" is selected, and then the update button, works.
But now i have duplicated permissions on the table, because changing roles, duplicates permissions.
Now, I can't remove permissions on the backend.

If I create a

[2017-12-18 12:45] bvipul commented on #88
Thanks for pointing out the bug @nosfas, we will fix it as soon as possible.

[2017-12-18 12:46] bvipul commented on #87
#88 Same error for file UserNeedsConfirmation. would be solved in response to #88.

[2017-12-18 18:06] viralsolani commented on #87
@nosfas Yes, we need to use frontend UserNeedsConfirmation in the backend as well. Thanks for the pointing out this issue. its resolved now.

[2017-12-18 18:06] #87 closed

[2017-12-19 13:53] bvipul commented on #88
@nosfas, Sorry but we are not able to understand the issue, can you please elaborate, what problem are you facing, with clear steps to reproduce the issue.

[2017-12-19 14:00] nosfas commented on #88
- Selecting permissions individually doesn't work.
- A User with User Role, if you uncheck every permission, throws an error.
- There's also a bug in the permission management, since there are many duplicate permissions if you change the User to others roles. There seems to be no check if the user already has that permission.

[2017-12-19 14:09] viralsolani commented on #88
ok, @nosfas. thanks for reporting these issues. we will try to resolve it asap.

[2017-12-19 17:57] viralsolani commented on #88
@nosfas all the issues are resolved. Please check once and if you found any other issue then do the report here or please close the ticket. thanks.

[2017-12-19 17:59] viralsolani commented on #75
For now, we will stick with AdminLTE. in future we will integrate any new theme, when we will start migrating to vue.js

[2017-12-19 17:59] #75 closed

[2017-12-23 23:39] netwrkx opened #96 "count(): Parameter must be an array"
hello, for unknown reason dd($assets); return null

ErrorException (E_ERROR)
count(): Parameter must be an array or an object that implements Countable (View: C:\laravel\laravel-adminpanel\resources\views\backend\history\partials\item.blade.php) (View: C:\laravel\laravel-adminpanel\resources\views\backend\history\partials\item.blade.php) (View: C:\laravel\laravel-adminpanel\resources\views\backend

[2017-12-24 12:00] viralsolani commented on #96
Hello @netwrkx, Can you please attach the error screenshot?

[2017-12-24 13:19] netwrkx commented on #96
![error](https://user-images.githubusercontent.com/5035044/34326773-797e1b2e-e8b5-11e7-9624-67bad34a2fe4.PNG)

[2017-12-24 14:56] bvipul commented on #96
Solved in #101

[2017-12-25 19:27] netwrkx opened #105 "Modules Migration"
Pls, I can't seems to locate the modules migration in the database folder. Where is it located. Thanks

[2017-12-25 22:16] #105 closed

[2017-12-25 23:34] #96 closed

[2017-12-25 23:34] #88 closed

[2017-12-27 02:01] netwrkx opened #113 "Notification readme"
I observed this project has notification system, but its not written on the readme.
Can you please update the readme on what to expect from the notification system or how it works. Thanks

[2017-12-27 16:42] netwrkx commented on #113
It look like I understand how the notification works but the class ".notification-counter",  ".notification-menu-container" hasn't been attached to the header file.
Summary: The notification counter & the notification result isn't showing

[2017-12-27 23:52] viralsolani commented on #113
@netwrkx Yes, we want to remove this old notification logic with the new Laravel Notification.

[2017-12-28 18:16] #113 closed

[2018-01-01 17:14] bloggervista opened #123 "Just a thanks and tests"
Can we write tests. Rappsoft boilerplate has some failing test i hope we can solve it.

And thanks for these upgrades :)

[2018-01-01 17:21] bvipul commented on #123
Yes, @bloggervista, we would be happy to seek your help, as we are writing our tests. And we hope this project helped you and you are willing to help us out is a great gesture.

[2018-01-01 17:30] bloggervista commented on #123
Yea will surely help you :)

Thanks was searching it for long time :)

[2018-01-01 17:30] #123 closed

[2018-01-02 14:46] bloggervista opened #131 "Can we use package instead of unsupported access for permissions and history"
As rappsoft has already decided he isn't going to support for access i guess we also can go for spatie permissions or other package and he has removed history also? Can we do something about that?

[2018-01-02 14:57] bvipul commented on #131
We are also thinking about the same, but we are currently busy in writing test cases. But sure that is up for consideration.

[2018-01-02 15:15] viralsolani commented on #131
Yes, we want to use spatie's package in future. But before that, we need to think about better UI to assign permission at the time of creating user and role.

[2018-01-02 15:17] bloggervista commented on #131
there is already one done by rappsoft in latest version of it.

Regarding test if we replace many by package i guess test will be reduced to half right?

[2018-01-02 15:37] viralsolani commented on #131
Well, Yes I've checked the latest version of Laravel 5 Boilerplate. It is very good. But the only issue if we have many permission we need scroll and it will be hard to find one.

So I think we can use jstree or something similar.

No test will not be reduced because in our version we will keep permission module.

[2018-01-02 15:53] bloggervista commented on #131
For scroll we can use select2 ?

[2018-01-02 16:15] trollid commented on #131
+1 for spatie and select2

[2018-01-02 16:42] viralsolani commented on #131
Ok once we complete writing test cases, we want to use vue.js in the application. and with that we will use spatie's permission package for sure.

[2018-01-02 16:46] bloggervista commented on #131
@viralsolani  which which tests are missing may be we can help

[2018-01-02 17:17] viralsolani commented on #131
@bloggervista you can write test cases for email template and faq module.

[2018-01-02 17:53] viralsolani commented on #131
@bloggervista if I or @bvipul get chance to complete it before 10th we will do it or you can work on that. we will update you. Thanks.

[2018-01-11 11:05] bloggervista opened #140 "Adding styleci?"
Can we add style ci so it will make code according to laravel standard. Especially it is needed to make more readable :)

Style Ci is also free for open source project like this.

[2018-01-11 14:46] bloggervista commented on #140
I think develop branch is already using it so its fine :)

But anyway why translation folder doesn't show things corretly especially those associative array. style ci should have fixe it

[2018-01-11 14:46] #140 closed

[2018-01-19 14:09] bloggervista opened #143 "Do we need tags?"
It seems they both are serving same purpose isn't it ?

I guess it is good to support if categories are hierarchical like in wordpress otherwise there are just same under different name in current scenerio right?

[2018-01-20 06:20] viralsolani commented on #143
Yes Right. we can use jsTree or something related in vue.JS. I'm leaning vue.js as of now and want to remove all jquery and replace it with vue.js.

We kept tag and category both as admin may want to edit at some point so he can do that from admin panel.

[2018-01-20 11:22] bloggervista commented on #143
@viralsolani  yes exactly . I used vue js and all the jquery based function stopped in admin panel. I guess it won't take even a week to learn vue. Laracasts and Udemy one is really great :)

Have fun learning vue :)

[2018-01-31 08:40] krishu-25 opened #144 "CMS Pages Not Showing on Front Side"
Thank you for your great admin panel, How can i display the backend register CMS pages display on Frontside. When i call the route like (i.e http://localhost:8000/cmspage/terms-and-conditions) give me error like below , Please provide some brief description for that. Here below i have to attached screen shot for the error.
![whoops there was an error](https://user-images.githubusercontent.com/3599

[2018-01-31 08:53] bvipul commented on #144
Hello @krishu-25 ,
sorry, this seems to be a typo in App\Repositories\Frontend\CMSPages\CMSPagesRepository.
What you need to is change "use App\Models\CMSPages\CMSPage" to "use App\Models\Page\Page".
I will create a patch PR for that , thank you for letting us know.

[2018-02-01 03:36] bvipul commented on #144
Hello @krishu-25, I have added a PR for this issue. thanks for letting us know.
#145

[2018-02-12 09:56] krishu-25 commented on #144
@bvipul  @viralsolani I would really appreciate if you guys will share step-by-step guide to create new CRUD screen along with permssions.

[2018-02-13 13:53] viralsolani commented on #144
@krishu-25 ok sure. we will soon add that in to our readme file.

[2018-02-27 13:39] #143 closed

[2018-02-27 13:40] #131 closed

[2018-02-27 13:51] bvipul commented on #144
@viralsolani @krishu-25 I think I should create a video for that. I think I would do that.

[2018-02-27 13:59] krishu-25 commented on #144
@bvipul  That's **great** news. When you are able to publish those videos?

[2018-02-27 14:19] bvipul commented on #144
@krishu, soon is what I can say. Probably next week

[2018-02-27 16:36] trollid commented on #144
@bvipul @viralsolani thanks a lot, i think i lost my way, need tutorial
thanks guys

[2018-03-08 04:06] netwrkx opened #151 "Menu Module bug"
Hello, can you take a look at the menu module, adding custom menu url and edit already added menu isnt working, it display "something went wrong try again" then blank

![1](https://user-images.githubusercontent.com/5035044/37132502-476dc6e4-228e-11e8-97fb-50be1466dc00.PNG)
![2](https://user-images.githubusercontent.com/5035044/37132513-50696c62-228e-11e8-9869-554bd55eaf5d.PNG)
![3](https://user-im

[2018-03-09 05:49] bvipul commented on #151
Sorry @netwrkx I am not able to reproduce this. Can you maybe elaborate what were you trying to do while this happened?

[2018-03-09 07:22] bvipul commented on #151
@netwrkx I have been informed that, we have done some js work before a week or so. So can you, maybe update your installation (by git pull origin master) and running ``npm run dev``.

[2018-03-09 08:21] nguyenkhoi2806 opened #158 "Create data with null value ????"
When i fill all input in a form and click create, it save with null value but Edit is ok

[2018-03-09 08:31] nguyenkhoi2806 commented on #158
I fixed. Thanks your CMS

[2018-03-09 10:14] indranshastri commented on #158
Thank you for the info
But can u explain in detail about the issue (like Where did you got the issue,How did you resolve the issue)

[2018-03-09 10:21] viralsolani commented on #158
@nguyenkhoi2806 if you resolve any error then please send pull request or please close this issue.

[2018-03-10 14:43] netwrkx commented on #151
It Didn't work, my project is up to date. What I'm trying to do is to add custom url but instead I get error "something went wrong try again"

[2018-03-11 14:25] bloggervista opened #162 "modular approach?"
I guess before shifting to laravel 5.6 we can go to modular approach. Like a module named blog has its own controller, routes , views etc..?? There is even a plugin to help with it .

Thanks

[2018-03-11 14:43] bvipul commented on #162
@bloggervista I guess we have that modular approach already, we have modules differentiated using different controllers for each module, each module has its own routes files, repository file, Model file and views too.

[2018-03-11 14:43] #158 closed

[2018-03-11 14:56] bloggervista commented on #162
Bro it is but i guess around 30% modular. If it was modular it would look like this:

[code]

So i can attach new modules and remove existing with ease. I hope you understand. This is basically a enhancement and as it don't have vue it is easy to shift to this approach :)

Thanks for awesome package.

[2018-03-11 14:59] bvipul commented on #162
@bloggervista which plugin/package are you talking about to have this modularity?

[2018-03-11 15:16] bloggervista commented on #162
You can read https://softwareengineering.stackexchange.com/questions/120956/how-to-build-completely-modular-web-applications

For easiness we can use https://github.com/nWidart/laravel-modules as this is most updated modular based approach plugin

[2018-03-11 15:33] viralsolani commented on #162
@bloggervista  @bvipul well Asgard CMS is also using the same approach. Nice idea and We have thought about that previously as well. We can sure consider this idea and can work in future.

[2018-03-14 14:11] bvipul commented on #151
Sorry bro, @netwrkx, I and one other Dev here are not able to reproduce.
Hence I will have to close this ticket for now, but feel free to open it again.

[2018-03-14 14:11] #151 closed

[2018-03-14 14:12] bvipul commented on #144
Will soon publish the video for this. For now closing this ticket.

[2018-03-14 14:12] #144 closed

[2018-03-15 05:20] netwrkx commented on #151
Problem still persist, I've done composer dumpautoload, php artisan cache:clear also php artisan clear, I've change browser from chrome to opera, yet problem persist.

[2018-03-17 03:06] netwrkx opened #190 "Custom menu not working"
in reference to issue [151](https://github.com/viralsolani/laravel-adminpanel/issues/151), i just clone the project afresh and followed all instruction but everytime i try to add custom url it result to error "something went wrong try again".

[2018-03-19 03:56] vetrivelbright opened #191 "Couldn't login and UI issue"
hi, I have configured everything as per your steps, after that I couldn't login, its not showed any error also. And UI i am not getting as you showed in the github page. please guide me
<img width="1182" alt="screen shot 2018-03-19 at 11 46 25 am" src="https://user-images.githubusercontent.com/1540407/37577317-8273cbd0-2b6c-11e8-94aa-016aa899f22e.png">
<img width="1080" alt="screen shot 2018-03-19

[2018-03-20 13:49] netwrkx commented on #190
Anyone please!!

[2018-03-21 04:00] bvipul commented on #190
@netwrkx I think we have to use TeamViewer to actually look at what the problem is.... But we are in jobs, so it's difficult for us to do that. What is your timezone? So we can can fix a time to do this.

[2018-03-21 22:43] netwrkx commented on #190
Gmt +1

[2018-03-22 09:35] nguyenkhoi2806 opened #193 "Css template admin not display like ScreenShots picture"
![imgpsh_fullsize](https://user-images.githubusercontent.com/16773113/37762488-025d0dfa-2def-11e8-90d6-06fea65c5f1a.jpg)

[2018-03-23 06:00] bvipul commented on #193
@nguyenkhoi2806 this seems like an error somewhere, happened to someone else also. We will surely look into this. Thanks for reporting.
Just to make our process easier, could you please tell us these things below:
1. PHP version
2. Node and npm version
3. Your OS and its version (like Ubuntu 16.04, Windows 7 etc)
4. And other error or notices you might end up seeing while doing the steps to instal

[2018-03-23 06:05] bvipul commented on #162
@viralsolani @bloggervista I have seen Asgard CMS and that modular approach, when looking in to the folder structure looks good, but I find it confusing while developing and extending their original functionality.
Sure it's a good idea but I would like to keep it this way for some time in future. Will sure try to implement that, and @indranshastri is working to see if we can do it and will it make

[2018-03-23 06:05] #162 closed

[2018-03-23 06:08] bvipul commented on #190
@netwrkx can we have a teamviewer session, at 6:00 PM GMT+1 time ? Would that work for you?
Thanks.

[2018-03-23 07:31] viralsolani commented on #191
Hello @vetrivelbright Can you please let me know your php , node and npm version ? or are you using ubuntu or windows ?

[2018-03-23 09:02] vetrivelbright commented on #191
HI

PHP 7.1.7

NPM 5.6.0

NODE v9.8.0

And I am using Mac (MacBook Pro)

On Fri, Mar 23, 2018 at 3:31 PM, Viral Solani <notifications@github.com>
wrote:

--
Vetrivel Samidurai

[2018-03-23 09:05] bvipul commented on #191
It looked like, Bond, James Bond. :smile:

[2018-03-23 13:20] netwrkx commented on #190
Yes, its perfect

[2018-03-23 13:33] bvipul commented on #190
Okay, so please connect with me on hangouts, so we can share the IDs at that time.
My email is: basapativipulkumar@gmail.com

[2018-03-23 16:06] netwrkx commented on #190
ok

[2018-03-23 18:07] bvipul commented on #190
We just had a kind of teamviewer(anyDesk) session, and found that indeed it was a problem with our javascript for menu module and it was causing this error because of setTimeout value in one function, which I came to know in this session with @netwrkx. Thanks for that @netwrkx. I am happy that we actually found this and we have to solve this. I am closing this ticket and we will try to solve this

[2018-03-23 18:07] #190 closed

[2018-03-23 18:09] bvipul commented on #191
@vetrivelbright thanks for the info, we will look into it. Ofcourse, we will need this env for checking, what's the problem.

[2018-03-23 19:13] viralsolani commented on #191
@vetrivelbright do you see any  JS error in console?

[2018-03-25 07:37] tmihetec commented on #191
Same situation here with PHP 7.1.10 / NPM 5.7.1 / NODE 8.9.4
No JS errors in console.
Also, any login attepmt (admin, backend, user) redirects back to login.

[2018-03-25 10:50] vetrivelbright commented on #191
ok, I will check and let you know

On Sun, Mar 25, 2018 at 3:37 PM, tmihetec <notifications@github.com> wrote:

--
Vetrivel Samidurai

[2018-03-26 04:51] nguyenkhoi2806 commented on #193
thanks your reply
my php-version: 7.2
node 9.9
npm 5.6.0
os ubuntun 16.04
Error when npm install :
-Error: autoreconf -fiv && ./configure --disable-shared --disable-dependency-tracking --with-jpeg8
-Command failed: autoreconf -fiv
/bin/sh: 1: autoreconf: not found

[2018-03-26 07:29] viralsolani commented on #191
Guys we are looking in to this issues. we will resolve it asap.

[2018-03-26 08:14] nguyenkhoi2806 commented on #193
Hi guy i resolved it. My public folder is missing some js and css file Sorry about this issue

[2018-03-26 08:56] bvipul commented on #193
Thank you so much, @nguyenkhoi2806 can you please elaborate what was the issue?

[2018-03-26 08:56] #193 closed

[2018-03-26 09:02] nguyenkhoi2806 commented on #193
In my public directory is missing some files from your public directory
Sorry my English is not good

[2018-03-26 10:53] bvipul commented on #193
@nguyenkhoi2806  how can that happen, if you have taken clone of our project, then everything should come from repo itself.

[2018-03-26 11:04] viralsolani commented on #193
I think @nguyenkhoi2806  may not run npm run development so build files are not generated.

[2018-03-28 06:45] michini opened #195 "El contenido del #showMenuModal desaparece despues de un cierto tiempo"
Hola amigo, el problema es que al hacer click en el boton **Add Custom URL** o en el **boton de editar menu**, se muestra el modal primeramente con el error **Something went wrong! Please try again later.** y en segundo click sale el formulario que solo dura un cierto tiempo luego se pone la clase hidden.

**Menus:**
![image](https://user-images.githubusercontent.com/9531905/38013138-abd0ebca-3229

[2018-03-28 07:23] bvipul commented on #195
I know this is a problem but what you need to do solve this is to change some code on ``resources/views/backend/menus/form.blade.php``.
On line 188, you will find a click event and inside that event closure, you can find that there is a setTimeout function called and has 500 as the second parameter, you need to increase that value to 1500 or 2000. And then try to achieve the same.
Do tell if you f

[2018-03-28 08:48] nguyenkhoi2806 commented on #193
No No it' work  good,  when i clone from your repo. but when i commit with my new repo. It didn't commit some css and js file so when run npm development, it doesn't compile all. :)

[2018-03-28 09:20] viralsolani commented on #193
ok cool. closing this issue now.

[2018-03-29 20:03] DivOverlow commented on #191
Hello! I agree with the @ windbrewing, there are problems with authorization / registration ..
The topic is very interesting
![bad_login](https://user-images.githubusercontent.com/22732739/38110783-6c7cda92-33a5-11e8-9d56-9d852f39f3a6.png)

[2018-04-01 16:36] bvipul commented on #195
Hello @michini, we have updated our master branch which solves this error. Please take pull from master and see if it resolves your problem.

Please reopen this issue, if you still face it.

[2018-04-01 16:36] #195 closed

[2018-04-01 22:42] jebog opened #200 "Use Bootstrap 4 for Frontend"
Hello, thanks for your Great Work, Can you help me ? I want to keep Bootstrap 3 for Backend and replace it on frontend with Bootstrap 4. Is there a way to manage with it quickly ?

[2018-04-02 03:47] viralsolani commented on #200
@jebog Thanks. As of now we are focusing on API and integrating vue.js and our next goal is to integrate core UI which have bootstrap 4.

We have checked it already After using Bootstrap 4 , we need to change in class name that we have used in our blade files.

[2018-04-02 03:47] #200 closed

[2018-04-02 07:39] bvipul commented on #200
Sorry @jebog, this is currently not possible, as we can only have one version of Bootstrap to be used on both backend and frontend.

If we change the dependency to bootstrap 4, then backend also needs to be converted to bootstrap4.

So, the answer to your question is No.

[2018-04-12 05:22] shahnoorkhowaja opened #205 "solve it"
![image](https://user-images.githubusercontent.com/25455321/38657732-49288654-3e3b-11e8-9af3-c5efaf3eddaf.png)

[2018-04-12 05:36] viralsolani commented on #205
@shahnoorkhowaja  Have you run php artisan db:seed ?

[2018-04-12 07:37] shahnoorkhowaja commented on #205
yes

On Thu, Apr 12, 2018 at 10:36 AM, Viral Solani <notifications@github.com>
wrote:

[2018-04-12 08:51] viralsolani commented on #205
Have you create .env and mention your username and password to access database cred.

[2018-04-12 09:54] jebog commented on #205
It's looks like database server connection failed. check username and  password or if your database service is running

[2018-04-18 06:41] bvipul commented on #191
Hello everyone facing this issue, we have installed this repo on multiple machines with below config for Node and NPM:
Node: 8.8.1
npm: 5.4.2
And
Node: 9.7.1
npm: 5.6.0,
And Still everything seems to be working fine.

So, to get this issue, can anyone of you paste all the steps that they took to reproduce this error. Please mention the versions of things as you do them. And I recommend to use node

[2018-04-18 09:04] truelogicapp opened #207 "Issue when open url in browser"
ErrorException (E_ERROR)
The Mix manifest does not exist. (View: C:\xampp\htdocs\udrive1.0\resources\views\frontend\layouts\app.blade.php) (View: C:\xampp\htdocs\udrive1.0\resources\views\frontend\layouts\app.blade.php)
![image](https://user-images.githubusercontent.com/5255112/38922313-f1bed5bc-4308-11e8-8f24-d8aa0752e6bf.png)

[2018-04-18 09:08] bvipul commented on #207
You can run `npm run dev` to solve this issue.

[2018-04-19 17:08] bvipul commented on #207
I think this issue can be closed.

[2018-04-19 17:08] #207 closed

[2018-04-19 17:10] bvipul commented on #205
@shahnoorkhowaja is your problem resolved? I also think either your db service is not running or your username/password is wrong in .env.

[2018-04-23 11:33] dirbey opened #209 "Auth remember"
The login remember doesn't work

[2018-04-24 07:28] worrabroshnot opened #210 "The assignment of permissions to the respective roles does not work"
when permissions are assigned to roles, it does not take them into account, unless it is indicated that they have all the permissions.

[2018-04-24 12:07] ashachy opened #211 "error while executing npm run production"
Whoops! We had trouble minifying "public/js/backend-custom.js". Perhaps you need to use mix.babel() instead?

[2018-04-26 16:04] bloggervista opened #212 "[Question] How is Email Template Model, Repository Used?"
Checked code found all reset etc are done via $user->notify like that so how are those used thanks?

[2018-04-26 17:01] bvipul commented on #212
Sorry, I was not able to understand your question, could you please elaborate?

[2018-04-26 17:05] bloggervista commented on #212
i mean where are those EmailTemplateModel etc used?

i mean if we go to admin/emailtemplates we will see user registration etc.. at which part of code they are used . Because i see code using only notifications etc.

[2018-04-26 17:16] bvipul commented on #211
What npm version are you using?
I have used 5.4.2(node 8.8.1) and 5.7.1(node 9.7.1), and in both it is working perfectly.
Please provide your rig, so we can debug.
Thanks.

[2018-04-26 18:02] bvipul commented on #212
okay, so the email templates are being used at several places, like for frontend user, when he changes password, a mail is send which uses one of email templates to send the email. You can see the code in UserRepository for frontend. And mail sending code is in sendEmail.php Utility.

[2018-04-26 18:05] bvipul commented on #210
In our adminpanel, what we have done is, If you add or remove a permission from a role, it won't change the permissions of every user associated with that role, but it will give priority to the individual permissions of the user. But when a new user is created for the changed role, it will have all the permissions for the role. I hope this solves your query. Reply back if that isn't the case.

[2018-04-26 20:35] dirbey commented on #209
The user is automatically logged out after two minutes of inactivity

[2018-04-27 05:26] bloggervista commented on #212
@bvipul  in Frontend UserRepository i see only such codes `$user->notify(new UserNeedsConfirmation($user->confirmation_code));` which uses notifications to send email etc.. Can you give me line no where it is used?

Thanks

[2018-04-27 06:32] bvipul commented on #212
@bloggervista Yes I can. You can go to app/Repositories/Frontend/Access/User/UserRepository.php, and go to line 301, which has a function called createNotification(), which is defined in helpers, which is responsible for sending email with email templates.
Thanks.

[2018-04-27 06:33] bvipul commented on #209
Okay, we will look at it. Thanks @dirbey.

[2018-04-27 10:02] bloggervista commented on #212
@bvipul  thanks

[2018-04-27 10:02] #212 closed

[2018-04-30 09:10] dirbey commented on #209
OK thanks

[2018-04-30 09:10] #209 closed

[2018-04-30 11:54] afoysal opened #217 "Custom CSS"
How to add custom CSS in this admin panel?

[2018-04-30 12:38] viralsolani commented on #217
@afoysal  you can write your custom css in _public/css/backend/backend-custom.css_.

We have already  written few CSS there.

[2018-05-03 10:06] afoysal commented on #217
https://i.stack.imgur.com/rEtZv.png

[2018-05-07 02:16] nithiyakumark opened #219 "registration not working"
hi, i'm trying to register an account but its not working even its not throwing any error

[2018-05-07 20:10] netwrkx commented on #191
hello, i'm having same issue
dev server
Node: 9.7.1
npm: 5.6.0
php7.2

Hosting server
Node: 9.7.1
npm: 5.6.0
php7.1.16

everything works on my dev server but when i moved it to the hosting server, any login attempt redirects back to login. any idea how to fix this

[2018-05-08 05:12] viralsolani commented on #219
@nithiyakumark Can you please report errors? If possible please provide screenshots?

[2018-05-08 05:14] viralsolani commented on #217
@afoysal you can create your own custom CSS and include in the layout. please let me know if you have any queries or concerns.

[2018-05-08 05:15] #210 closed

[2018-05-08 05:15] #217 closed

[2018-05-08 05:16] viralsolani commented on #205
Please re-open this ticket if you have any issues in future.

[2018-05-08 05:16] #205 closed

[2018-05-08 12:10] netwrkx commented on #191
I think the problem has to do with session.
On my local site, cookie shows 3 session value. Laravel_session, _session, X-CSRF-Token

But on my live site, cookie show only _session

[2018-05-08 14:37] netwrkx commented on #191
Not just login form seems to be redirecting back to login but all forms on the frontend is redirecting to login

[2018-05-08 17:26] viralsolani commented on #191
@netwrkx Can you please check laravel error log and paste here so we can investigate further in to this issue.

[2018-05-08 18:30] shahalam4 opened #222 "The Mix manifest does not exist"
The Mix manifest does not exist. (View: C:\wamp\www\busticket\resources\views\frontend\layouts\app.blade.php) (View: C:\wamp\www\busticket\resources\views\frontend\layouts\app.blade.php)

[2018-05-08 22:52] netwrkx commented on #191
There's no error, just redirecting

[2018-05-08 22:55] netwrkx commented on #222
Try npm run dev then reload your page

[2018-05-12 11:11] afoysal opened #223 "Issue in hosting"
I developed an application in my local Machine. It is working fine. But I host it in a Shared Hosting. I am getting below error there in `error.log` file.

[code]

[2018-05-12 15:44] viralsolani commented on #223
@afoysal To install Laravel on Shared hosting you need to do some necessary settings on your server.

Please check these below tutorials

http://laraveldaily.com/laravel-and-shared-hosting-working-with-ftp-and-phpmyadmin/

https://medium.com/laravel-news/the-simple-guide-to-deploy-laravel-5-application-on-shared-hosting-1a8d0aee923e

This is not the issue of Laravel admin panel so closing this out

[2018-05-12 15:44] #223 closed

[2018-05-12 15:45] #222 closed

[2018-05-12 15:46] bvipul commented on #211
Since there is no response of this thread, I am closing this issue.

[2018-05-12 15:46] #211 closed

[2018-05-14 08:17] stefanoewh commented on #191
Hi,
i have the same problem. In local all is ok but on the hosting i'm always redirect to login.
Any idea?

Thanks

[2018-05-15 11:19] stefanoewh commented on #191
@viralsolani Hi i need to know asap if the problem is solvable to continue with the project. I'd like to know also if there is a workaround.
Thanks a lot.

[2018-05-15 14:00] viralsolani commented on #191
@stefanoewh  please check permissions once. we have never face any such issue in dev or prod.

[2018-05-16 00:05] netwrkx commented on #191
Same problem. All files set to 755, only session cookie is stored

[2018-05-16 08:14] viralsolani commented on #191
Guys , Today I've moved to production and it works well. just to confirm with you, you guys are using dedication hosting and not shared hosting ?

[2018-05-16 08:37] stefanoewh commented on #191
Shared hosting with a subdomain. I see all page (login, registration ecc....) but i'm not able to do a post. If i do a post i'm redirect to login. I'm not arrive to the route i'm redirect before.

[2018-05-16 10:38] netwrkx commented on #191
Same problem, all forms on the frontend redirects on post without reaching their designated controller and back to login.

Hosting on Sharedhosting both domain & subdomain

[2018-05-17 10:29] stefanoewh commented on #191
@viralsolani excuse me for the insistence but have you a suggestion? Also the possibility to avoid some control in order to do operative the interface

[2018-05-19 05:32] stefanoewh commented on #191
Please help me i'm blocked.

[2018-05-19 10:45] viralsolani commented on #191
@stefanoewh I am sorry. we have tried to reproduce this issue. but here all works fine. I think the issue is with shared hosting.

[2018-05-20 11:49] pervaiz04 commented on #219
same error with me - unable to register - no error - page refresh - seems not going in controller register function

[2018-05-20 11:51] pervaiz04 commented on #219
alsi i am seeing this error
[Vue warn]: Unknown custom element: <flash> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

(found in <Root>)

[2018-05-21 06:34] viralsolani commented on #191
Ok please email me cred. let me have a look.

[2018-05-21 08:58] netwrkx commented on #191
Sent via hangouts

[2018-05-23 16:41] netwrkx commented on #191
@viralsolani any luck?

[2018-05-25 10:28] Raushn opened #227 "The Mix manifest does not exist."
ErrorException (E_ERROR)
The Mix manifest does not exist. (View: C:\xampp\htdocs\laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php) (View: C:\xampp\htdocs\laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php)

[2018-05-25 10:37] bvipul commented on #227
Please run npm run dev before launching the application

[2018-05-25 10:38] Raushn commented on #227
error should be generated

[2018-05-25 10:39] Raushn commented on #227
internal/modules/cjs/loader.js:573
    throw err;
    ^

Error: Cannot find module 'C:\xampp\htdocs\laravel-adminpanel-master\node_modules\laravel-mix\setup\webpack.config.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:571:15)
    at Function.Module._load (internal/modules/cjs/loader.js:497:25)
    at Module.require (internal/modules/cjs/loader.js:626:17)
    at requir

[2018-05-25 10:40] Raushn commented on #227
Downloading binary from https://github.com/sass/node-sass/releases/download/v4.7.2/win32-x64-64_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v4.7.2/win32-x64-64_binding.node":

HTTP error 404 Not Found

Hint: If github.com is not accessible in your location
      try setting a proxy via HTTP_PROXY, e.g.

      export HTTP_PROXY=http://example.com:1234

or confi

[2018-05-26 06:58] Raushn commented on #227
please help me how to install npm
Always generating error to installing npm

[2018-05-26 15:37] bvipul commented on #227
Most issues of npm install is solved by using correct version of node and npm, node v. 8.8.1 and npm v5.6 or above ..try with these settings

[2018-05-28 06:47] Raushn commented on #227
node v.10.1.0
npm v5.6

[2018-05-29 05:58] justin22 opened #228 "Locale swap is not working"
Let me start by saying, very helpful boilerplate this is.

I'm having some trouble with switching locale.  Upon switching locale, the session variable is getting updated. But the translations are not working.

**LanguageController.php**
[code]

**lang.blade.php**
[code]
**Locale settings in session**
![image](https://user-images.githubusercontent.com/3507241/40639736-34ba96ca-6330-11e8-8579-229173

[2018-05-31 15:31] minutmorph commented on #211
Hi, getting the same issue. Using npm 6.1.0. Thanks

[2018-05-31 16:58] lawdoc71 commented on #227
yarn install
Yarn run dev

[2018-05-31 20:37] minutmorph commented on #211
Sorry, forgot to mention other (possible) relevant specs: Node v10.2.1 on Mac OSX. Here is the output from terminal:

$ npm run prod

 95% emitting

 DONE  Compiled successfully in 118057ms                                                                                                                                                              21:20:20

Whoops! We had trouble minifying "public/js

[2018-06-04 09:31] viralsolani commented on #191
I didn't found anything. I would say try with dedicated hosting though. there must be permission issue.

[2018-06-18 16:01] vrkansagara opened #233 "Method selectStateUS does not exist."
By visiting this url `http://127.0.0.1:8000/macros`

Does maintainer forget to add any dependency?

[2018-06-19 07:11] bvipul commented on #233
We have removed the macros completely from our project in our last release, I guess we have left that route. Thanks for pointing that out. If you want to create a PR resolving this, you can, but just remember to push that change to `develop` branch.

[2018-06-19 07:12] bvipul commented on #219
Yes, @pervaiz04, thanks for pointing the issue, I will be resolving that in our next release.

[2018-06-20 02:53] bibek54 opened #234 "Issue while creating a new data in repository"
It was
`$xyz = self::MODEL;
        $xyz = new $xyz();
        if ($xyz->save($input)) {
            return true;
        }`
in the create method of repository while it is supposed to be
`$xyz = self::MODEL;
        $xyz = new $xyz($input);
        if ($xyz->save()) {
            return true;
        }`

[2018-06-20 06:34] viralsolani commented on #227
I've checked with the latest node (10.4.1) and (npm 6.1.0). And found the issue. It is mostly because of node-sass has not found bindings.  I've installed node-sass as the dependency.

To Resolve issue :
- remove node-modules
- remove package-lock.json
- run : npm install --save node-sass
- run : npm install
- run : npm run dev

Or take pull of develop branch and follow below steps.

- remove node

[2018-06-20 06:39] viralsolani commented on #233
@vrkansagara Resolved. Thanks for pointing out the issue.

[2018-06-20 06:39] #233 closed

[2018-06-20 06:43] viralsolani commented on #234
Can you please show us the error message or let us know exact location?

[2018-06-20 06:45] viralsolani commented on #191
We have tested with latest node and npm on both local and production server. and it works fine for us. if you will host on a dedicated server then there will be no issues for sure.

[2018-06-20 06:45] #191 closed

[2018-06-20 07:03] bvipul commented on #234
@viralsolani @bibek54 I know, it is in Repository file generated by the module generator. And @bibek54 has pointed out correctly that we should not use `save($input)`. Thanks. I will solve that in generator. And that will be in our next release. Or @bibek54 if you want to contribute to the [generator](https://www.github.com/bvipul/generator) repo, you can add a PR their.

[2018-06-20 15:47] vrkansagara opened #235 "Proposal for api formatter"
I would like to purpose api formatter for the API layer.

- User can able to define their own response formate based on sample.
- Response formate in various formate , JSON, XML, JSONP
- Response formate based on [HAL JSON](http://stateless.co/hal_specification.html)

[2018-06-20 15:58] viralsolani commented on #235
@vrkansagara ok let me check. then we will discuss about it.

[2018-06-22 06:11] k-d-andani opened #236 "without public in route css not working"
When setup without public in route - css not working

[2018-06-22 07:12] viralsolani commented on #236
It is not advisable to setup without public. But still if you would like to do it. You need to give path accordingly.

[2018-06-22 07:14] #236 closed

[2018-06-23 14:44] bvipul opened #237 "Tests Failing"
This is the output of our `phpunit`:

The error is caused by 'Ramsey\Uuid\Uuid' not found.

[code]

[2018-06-23 15:48] vrkansagara commented on #237
Generally @bvipul  issue are not main to be publishing a result. It main to be issue only. try to fixing it first and generate a pull request.

[2018-06-23 17:28] bvipul commented on #237
sorry @vrkansagara, I am not able to get your point. I am just pointing out that I find this issue to be coming  while running phpunit test suite. And since, I was busy doing other tasks on this project, I posted it here, so if somebody is having same issue and has some solution to it can create a PR. We would be happy, if you have some solution to this error and can generate a PR for that.

[2018-06-23 17:32] bvipul commented on #234
@bibek54 @viralsolani turns out it in generator we don't use save() method, so @bibek54 it will be useful if you can point us to the right file.

[2018-06-25 09:50] bibek54 commented on #234
The place where the issue is being created is the repository file for the created model in create method.

[2018-06-25 17:33] bilal26036 opened #240 "Parse error: syntax error, unexpected '?' in C:\xampp\htdocs\laravel-adminpanel-master\vendor\laravel\framework\src\Illuminate\Foundation\helpers.php on line 242"
I have installed php version , on this version all my previous project  are working but laravel-adminpanel-master is not working.
when i execute it on web its show me error.
Parse error: syntax error, unexpected '?'
There was two error one i solved by deleting file composer.lock but now for this i could not find any solution need help please

PHP 5.6.20 (cli) (built: Mar 31 2016 14:56:44)
Copyrigh

[2018-06-25 18:54] vrkansagara commented on #240
@bilal26036  here you can able to see that the minimum requirement for this project is `php":  >=7.1.3`   [#L14](https://github.com/viralsolani/laravel-adminpanel/blob/master/composer.json#L14) . So it might be the primary issue.

the secondary you can try this `php composer.phar dump-autoload` which will regenerate the class path.

Hope it might helpful to you.

[2018-06-25 19:52] bilal26036 commented on #240
$ php composer .phar dump-autoload
Could not open input file: composer
 should i upgrade php version?

[2018-06-26 10:09] viralsolani commented on #240
Yes we are using laravel 5.6 so you need to install php 7.1

[2018-06-26 12:30] bilal26036 commented on #240
i have installed laravel 7.2 but now
Warning: require(C:\xampp\htdocs\laravel-adminpanel-master\bootstrap/../vendor/autoload.php): failed to open stream: No such file or directory in C:\xampp\htdocs\laravel-adminpanel-master\bootstrap\autoload.php on line 17

Fatal error: require(): Failed opening required 'C:\xampp\htdocs\laravel-adminpanel-master\bootstrap/../vendor/autoload.php' (include_path='

[2018-06-26 12:33] bvipul commented on #240
Can you please run `composer install`

[2018-06-26 12:36] bilal26036 commented on #240
$ composer install
Composer could not find a composer.json file in C:\xampp\php7
To initialize a project, please create a composer.json file as described in the https://getcomposer.org/ "Getting Started" section

[2018-06-26 12:36] viralsolani commented on #240
Can you please check readme and run all the commands mention over there ?

[2018-06-26 12:40] bvipul commented on #240
@bilal26036 you need to go to C:\xampp\htdocs\laravel-adminpanel-master and run composer install.

[2018-06-26 12:53] vrkansagara commented on #240
I got it the right question and it’s answer that , you have to remove all
bootstrap cached items the it works.

Now how to achieve it. Using following command.

Php artisan config:clear
Php artisan route:clear
Php artisan view:clear

If above not solve your issue, try this danger command.
rm -rf bootstrap/cache/*.php

Make sure before running above command.

On Tue, 26 Jun 2018 at 6:10 PM, Vipul B

[2018-06-26 12:55] bilal26036 commented on #240
@bvipul  after composer install command
Generating optimized autoload files
Warning: Ambiguous class resolution, "App\Http\Responses\Backend\Menu\EditRespon                                                                                                                se" was found in both "C:/xampp/htdocs/laravel-adminpanel-master/app\Http\Respon

[2018-06-26 12:59] bvipul commented on #240
@bilal26036  That warning is fine... we will fix that in our next release... but now your project should work

[2018-06-26 13:01] bilal26036 commented on #240
yes its working but new error genrate

[2018-06-26 13:04] bvipul commented on #240
@bilal26036 as @viralsolani said, you need to follow our readme, and it should work fine.

[2018-06-26 13:06] bilal26036 commented on #240
Run the database migrations (Set the database connection in .env before migrating)

php artisan migrate

Run the database seeders

php artisan db:seed

please can you explain this, i am new at laravel

[2018-06-26 13:10] bvipul commented on #240
@bilal26036 okay,
so in .env (if you don't have that by default, copy .env.example and rename it to .env), you need to specify database name and username and password of database, you will find three fields
[code]
After that in your project root folder(C:\xampp\htdocs\laravel-adminpanel-master): you need to run the above commands:
`php artisan migrate`
`php artisan db:seed`

[2018-06-26 14:08] bilal26036 commented on #240
@bvipul  thank you so much, now i am following READme now i am at npm install, should i download it first ?

[2018-06-26 14:13] bvipul commented on #240
@bilal26036 yes run `npm install`.

[2018-06-26 21:54] bilal26036 commented on #240
C:\>npm run development
npm ERR! path C:\package.json
npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall open
npm ERR! enoent ENOENT: no such file or directory, open 'C:\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\ArsalanLap\AppData\Roaming\npm-cache\_logs\201

[2018-06-26 21:54] bilal26036 commented on #240
C:\Users\ArsalanLap>npm -v
6.1.0

C:\Users\ArsalanLap>node -v
v8.11.3

C:\Users\ArsalanLap>npm install
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\ArsalanLap\
package.json'
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\ArsalanLap\pac
kage.json'
npm WARN ArsalanLap No description
npm WARN ArsalanLap No repository field.
npm WARN ArsalanLap No README data

[2018-06-27 02:57] bvipul commented on #240
You have to do that in your project directory.

[2018-06-27 04:36] viralsolani commented on #240
@bilal26036 please follow all the steps from readme to run the project.

[2018-06-27 05:10] bvipul commented on #237
@viralsolani nevermind. I just re-did the `composer install` and now there is no error. Thanks.

[2018-06-27 05:10] #237 closed

[2018-06-27 05:21] viralsolani commented on #235
@vrkansagara good concept. let's work on it to gather.

[2018-06-27 05:21] #235 closed

[2018-06-27 18:59] bilal26036 commented on #240
@viralsolani i am following read me

[2018-06-27 19:07] bilal26036 commented on #240
@bvipul can you please explain?

[2018-06-27 19:08] pratik916 commented on #240
Please make sure you have correct php version installed.

Laravel 5.6 requires php version >= 7.2

On Thu, Jun 28, 2018, 12:31 AM Muahammad Bilal <notifications@github.com>
wrote:

[2018-06-27 19:08] bvipul commented on #240
What do you want to be explained?@bilal26036

[2018-06-27 19:10] bilal26036 commented on #240
The Mix manifest does not exist. (View: C:\xampp\htdocs\laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php) (View: C:\xampp\htdocs\laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php)
this is error

[2018-06-27 20:59] bilal26036 commented on #240
@pratik916 PHP 7.2.6 (cli) (built: May 23 2018 20:51:04) ( ZTS MSVC15 (Visual C++ 2017) x86
 )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

[2018-06-27 21:02] bilal26036 commented on #240
@bvipul C:\Users\ArsalanLap>npm install
npm WARN package.json@1.0.0 No description
npm WARN package.json@1.0.0 No repository field.

up to date in 0.504s
after using command
npm install express

or

npm install -g express-generator

or you have to add a package.json file and register your modules here. The easiest way to get such a file is to let npm create one by running

npm init

i am facing th

[2018-06-27 21:03] bilal26036 commented on #240
The Mix manifest does not exist. (View: C:\xampp\htdocs\laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php) (View: C:\xampp\htdocs\laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php)
this error is still there, but still facing issue, following read me.

[2018-06-27 21:45] bilal26036 commented on #227
@lawdoc71  i tried to install yarn this error is showing
"C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js" install yarn

Standard error:
npm ERR! file C:\xampp\htdocs\laravel-adminpanel-master\package.json
npm ERR! code EJSONPARSE
npm ERR! Failed to parse json
npm ERR! Unexpected string in JSON at position 1431 while parsing '{
npm ERR!   "private": true,

[2018-06-28 04:20] viralsolani commented on #240
have you run this command - **npm run development**

Make sure you run follow steps.

git clone https://github.com/viralsolani/laravel-adminpanel.git
cd laravel-adminpanel
cp .env.example .env
composer install
npm install
npm run development
php artisan storage:link
php artisan key:generate
php artisan jwt:secret
php artisan vendor:publish --tag=lfm_public

[2018-06-28 08:13] bvipul commented on #240
@bilal26036 Dude!, you have got to run all the commands pasted by @viralsolani above inside your project directory. Now, how much have you done?

[2018-06-28 08:19] bvipul commented on #234
@bibek54 I am sorry, but I am not able to find any repository file which has `save($input)`. Can you please give me the name of the file?

[2018-06-28 09:42] bilal26036 commented on #240
C:\Users\ArsalanLap>npm install
npm WARN package.json@1.0.0 No description
npm WARN package.json@1.0.0 No repository field.

[2018-06-28 09:52] viralsolani commented on #240
@bilal26036 are you in your project directory? I don't think you setup everything correctly. please make sure that first.

[2018-06-28 11:19] bilal26036 commented on #240
@viralsolani i am following READ me, nmp is not working even its showing is version, i have set path ,now i could not see what is issue there

[2018-06-28 12:18] bvipul commented on #240
@bilal26036 I don't know if you are understanding us correctly. You need to run `npm install` and then `npm run dev` in the project directory. That is `C:\xampp\htdocs\laravel-adminpanel-master\` in your case.

[2018-06-28 13:09] bilal26036 commented on #240
now i install my modules at project directory and facing this issue.
C:\xampp\htdocs\laravel-adminpanel-master>npm install -g express
+ express@4.16.3
added 50 packages in 10.928s

C:\xampp\htdocs\laravel-adminpanel-master>npm run development
npm ERR! file C:\xampp\htdocs\laravel-adminpanel-master\package.json
npm ERR! code EJSONPARSE
npm ERR! Failed to parse json
npm ERR! Unexpected string in JSO

[2018-06-28 13:15] bilal26036 commented on #240
https://stackoverflow.com/questions/16827858/npm-warn-package-json-no-repository-field
using the answer of this, i added in my package.json

 "repository": {
    "type": "git",
    "url": "git://github.com/username/repository.git"
  }
but still issue is same

[2018-06-28 13:16] bilal26036 commented on #240
C:\xampp\htdocs\laravel-adminpanel-master>npm run development

--hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js

'cross-env' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @ development: `cross-env NODE_ENV=development node_modules/webpack/bin
/webpack.js --progress --hide-modules --co

[2018-06-28 13:50] bvipul commented on #240
@bilal26036, did you run `npm install` before `n run development`. And why are you doing npm install express... You just need to run `npm install`, as it is....

[2018-06-28 13:55] bilal26036 commented on #240
@bvipul  yes i did

[2018-06-28 20:46] #240 closed

[2018-06-29 08:25] umair321 opened #242 "Menu edit redirect to blog edit page"
Menu edit redirect to blog edit page in latest repo.

**Solution**

I have replace MenuController in backend folder with previous one then it is working fine

[2018-07-01 05:09] nguyenkhoi2806 opened #243 "$ is not defined, jQuery is not defined in console tab in front end ????"
![screenshot from 2018-07-01 12-09-14](https://user-images.githubusercontent.com/16773113/42131225-9e2641d4-7d27-11e8-9328-b7a39d84cf9b.png)

[2018-07-04 02:50] nguyenkhoi2806 commented on #243
I Fixed thanks you

[2018-07-04 02:58] viralsolani commented on #243
Please send the pull request.

On Wed 4 Jul, 2018, 8:20 AM nguyenkhoi2806, <notifications@github.com>
wrote:

[2018-07-05 08:49] viralsolani commented on #243
@vrkansagara Can you please look into this?

[2018-07-05 14:16] vrkansagara commented on #243
@viralsolani I am looking into this matter.

[2018-07-05 14:18] vrkansagara commented on #243
@nguyenkhoi2806  Can you share us your `app.blade.php` layout file. It's look like that `jquery` not loaded with dome load.

You have to make sure that `jQuery` is loaded before any jquery function execute.

[2018-07-05 19:05] vrkansagara commented on #219
@nithiyakumark and @pervaiz04 Kindly confirm the issue is still there.

[2018-07-05 19:09] vrkansagara commented on #227
Just follow bellow steps clean this issue.

1. Remove existing `node_module` folder

2. Run `npm install`

3. Run `npm run development` This will generate the mix manifest file.

4. (Optional) If you are running `127.0.0.1:8080` kind of webserver then stop it first and start again.

[2018-07-05 19:11] pervaiz04 commented on #219
Thank you for fixing,
I'll check shortly

Thanks

On Fri, Jul 6, 2018, 12:05 AM Vallabh Kansagara <notifications@github.com>
wrote:

[2018-07-05 19:11] vrkansagara commented on #242
@umair321 Can you provide more details on this issue.

[2018-07-06 07:44] umair321 commented on #242
![ggtu](https://user-images.githubusercontent.com/7020208/42366196-0b338afc-811a-11e8-8680-c8e659b3ef7d.png)
I cloned repo and checked menu was not working well so I replaced MenuController with previous downloaded repo which I downloaded 2 months ago for laravel 5.5

[2018-07-06 08:44] vrkansagara commented on #242
@umair321 We are look into this. and let you know once fix.

[2018-07-07 10:41] #243 closed

[2018-07-07 10:46] bvipul commented on #242
@umair321 I am going to close this issue, as this can not happen, I have checked the master branch's code and we have below code to show edit button and delete button:
[code]
please look at the file at this location : App\Models\Menu\Traits\Attribute\MenuAttribute.php and tell us what's wrong, because I can not find a problem their.

You can always reopen this issue, if it persists.

[2018-07-07 10:46] #242 closed

[2018-07-07 10:48] bvipul commented on #227
@Raushn I am going to close this issue, as you haven't replied for more than 15 days.

[2018-07-07 10:48] #227 closed

[2018-07-07 10:50] bvipul commented on #234
@bibek54 I found the issue where you found this, as we had published the package's view files and I have updated the files but those published views were not updated. Thanks for pointing out. I have removed that folder from resources/views/vendor/generator. If you need to modify any view files of module generator you can again just run: `php artisan vendor:publish`. This issue is resolved in my la

[2018-07-07 10:50] #234 closed

[2018-07-07 10:51] #219 closed

[2018-07-07 19:31] vrkansagara commented on #227
The issue should be reopen as reported doesn't confirm.

[2018-07-07 19:57] viralsolani commented on #227
@vrkansagara we have resolved this issue. Changed few dependency and we have tested it with different node Versions.

[2018-07-09 07:00] Raushn commented on #227
Thank you

[2018-07-19 14:33] biowan opened #247 "Remote devel server : /login not found"
Hi,
I installed laravel admin panel on my devel server with all instructions on your github homepage. When I click on the link "Login" on my devel server homepage, I get a a big message in the center of the page "Sorry, the page you are looking for could not be found."

Is it mandatory to use LAP in localhost mode with "php artisan serve" ?

Apache 2.4.6
PHP 7.1.19
Laravel  5.6.26

Thank you for y

[2018-07-27 10:56] umair321 opened #248 "Datatable export buttons not workig in new generated module"
I have generated module, but export buttons for datatable not working. I have matched code with user/index.php datatable.
![eeeeee](https://user-images.githubusercontent.com/7020208/43317302-c176d7c8-91b5-11e8-8eff-3d36f4625d77.png)

[2018-07-27 11:04] bvipul commented on #248
Please see to it that do you have some console errors on the page @umair321 ?

[2018-07-27 11:04] #247 closed

[2018-07-28 06:41] umair321 commented on #248
No there is not a single console error or warning

[2018-07-28 07:01] bvipul commented on #248
Okay, great. @umair321

[2018-07-28 07:01] #248 closed

[2018-07-29 05:36] Jyotie opened #249 "Cant Run Frontend."
Hello I setup the project locally as per given instructions.
And now running the site.
This is my URL: http://localhost/PROJECTS/laravel_adminpanel/public/frontend

But it shows me Page Not Found error.

Symfony\Component\HttpKernel\Exception\NotFoundHttpException

How can I fix this?

[2018-07-29 14:39] bvipul commented on #249
You need to run the server, `php artisan serve` in the project folder and check at localhost:8000

[2018-07-29 14:50] christiantigre commented on #249
Delete fronted.
http://localhost/PROJECTS/laravel_adminpanel/public/

[2018-07-29 15:02] bvipul commented on #249
That is not the preferred way, run the artisan server or make vhost. The simplest way will be to run the server.

[2018-08-01 13:49] Nis-911 opened #250 "Blog API"
I have found a bug in blog API in Validator class where "published_datetime" is not presents in validations.
similarly it is not present in store requests also for web.

[2018-08-01 17:06] bvipul commented on #250
I see, that's really an issue. We will fix this ASAP. Thanks @Nis-911

[2018-08-01 17:07] bvipul commented on #249
I guess, this issue can be closed. Feel free to reopen.

[2018-08-01 17:07] #249 closed

[2018-08-01 18:06] bvipul commented on #250
This issue has been closed in #251. And hence can be closed.

[2018-08-01 18:06] #250 closed

[2018-08-17 13:07] ashvinsolanki opened #252 "while npm install run error"
‼ Response code 502 (Bad Gateway)
  ‼ gifsicle pre-build test failed
  i compiling from source

[2018-08-21 05:06] bvipul commented on #252
You have to provide a little more stack trace to get what error you are facing.

[2018-08-23 12:08] AManojKiran opened #253 "site logo"
I have uploaded the site logo but it is not displaying

[2018-08-25 06:31] bvipul commented on #253
You will probably have to see if you created the link to storage folder.
For that, you need to do `php artisan storage:link`. Try this, and then reload and tell us if your problem is resolved or if it's still there. @AManojKiran

[2018-08-26 13:41] bvipul commented on #253
Try adding this to the src of the image path: `{{ Storage::disk('public')->url('img/logo/' . $settings->logo) }}` and it should work

[2018-08-26 14:41] stoneshaq commented on #253
{{ Storage::disk('public')->url('img/logo/' . $setting->logo) }} is already there..

Cross-Origin Read Blocking (CORB) blocked cross-origin response http://localhost/storage/img/logo/logo.jpg with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for more details.

[2018-09-01 09:16] UnderDogg commented on #252
I don't want to jump into this specific topic, but I had problems after installing NPM packages too. specifically running npm development. The Vue packages aren't compatible and I had to uninstall vue / reinstall vue@2.5.17 --save @bvipul should i open new topic?

[2018-09-04 09:37] krishnabharambe commented on #253
CTRL + F5

[2018-09-09 11:27] brazitech commented on #253
yes i did. also i use an apple for development and also use valet and not artisan serve.

[2018-09-09 11:32] bvipul commented on #253
Is it a Mac issue? @AManojKiran and @stoneshaq, do you guys also use Mac?

[2018-09-09 11:33] brazitech commented on #253
just found the problem. in the .env you have to use the actual url and not localhost. storage facade  uses APP_URL env variable.in my case APP_URL=http://LDSag.loc not APP_URL=localhost.

[2018-09-09 11:34] bvipul commented on #253
Oh great, so it is working?

[2018-09-09 11:35] brazitech commented on #253
yes it is. thank you for answering on a Sunday...glad to see i not the only one that work today....:-)

[2018-09-09 11:36] bvipul commented on #253
Yes, @stoneshaq, you probably will have the same issue, your comment states, it was using localhost for fetching the image and your site would be running on localhost:8000 or on a different url, that's why the issue. Please confirm, so I can close this issue

[2018-09-09 12:21] mehadihasan opened #256 "Role Management is not working"
Associated Permissions is not working for "Executive" Role or any new role. In Role Management if I add or remove any Associated Permissions nothing is changing.

[2018-09-09 12:40] bvipul commented on #256
@mehadihasan You will have to understand, the role's associated permissions are not attached to users directly. The roles are just a way to group the permissions and assign users with that role. Now, if you add/update a permission from role's associated permissions, it should not change all the users with that role, because you might have given any particular user a different set of permission oth

[2018-09-09 14:12] brazitech opened #257 "conformation email"
i cant find where to enable the conformation email on registration. is it to be added to the .env?

[2018-09-09 14:41] mehadihasan commented on #256
Okay! This is one kind of Bug I think.
I will work on it. If I can solve this problem, I will share the code.
Or if anyone already have solved this problem, they can share the code also :)

[2018-09-10 16:53] corepay opened #258 "pgsql (postgresql) error clean installation"
Hi, using pgsql with fresh installation and getting datatables error.  Switching to mysql no problems.

![image](https://user-images.githubusercontent.com/37046197/45311814-507c1b80-b4f8-11e8-8d70-c304a0b958a8.png)

![image](https://user-images.githubusercontent.com/37046197/45311846-73a6cb00-b4f8-11e8-8af5-602e64ba24da.png)

[2018-09-10 16:56] viralsolani commented on #258
@corepay we have used Raw MySQL queries in this application for grid part. you need to convert those to PGSQL.

[2018-09-10 17:05] viralsolani commented on #257
Yes, you can do that from .env. You need to make REQUIRES_APPROVAL=true.

Please find the attached screenshot

![image](https://user-images.githubusercontent.com/1780168/45312437-acbb5b80-b549-11e8-8d45-91afe53f428c.png)

[2018-09-10 18:01] corepay commented on #258
Got it, thanks.  MySql is good for now.  Looks good though!

[2018-09-10 18:01] #258 closed

[2018-09-14 20:21] brazitech commented on #257
i added the requires approval true it still does not work.. it will send the forgot password email, but not the conformation email. is there something else that needs activation?

[2018-09-18 12:36] viralsolani commented on #257
I'll check and get back to you about this feature.

[2018-09-27 12:44] #253 closed

[2018-09-29 12:27] vasthurengan opened #261 "Cannot login"
I did everything as shown. Couldn't login neither admin or others

[2018-09-29 14:06] bvipul commented on #261
Do you have any errors on the screen, or anything, because with that much information, it is hard for us to debug.

[2018-10-03 10:36] lili94 commented on #257
do you find solution i have the same problem

[2018-10-03 17:32] vrkansagara commented on #261
@vasthurengan Can you provide us any screenshot or anything like error message so we can understand more on the problem which you are facing!

[2018-10-04 03:42] IhsanBhee opened #266 "Undefined index: /css/frontend.css"
Hi,
I'm trying to running laravel-adminpanel, but i have found error this Undefined index: /css/frontend.css in laravel-adminpanel\resources\views\frontend\layouts\app.blade.php. What can i do to resolve this issue.

Thanks
Febri

[2018-10-04 04:20] viralsolani commented on #266
Hello @IhsanBhee Are you able to successfully run _npm run development_ ? Can you please give us some screenshot so that we can identify the issue.

[2018-10-04 06:28] IhsanBhee commented on #266
This my Issue
![issue](https://user-images.githubusercontent.com/8456061/46456524-17f1f980-c7a7-11e8-8b00-aa9b90ed2c08.PNG)

[2018-10-04 12:18] viralsolani commented on #266
@IhsanBhee Can you please give me your node version. and also check you npm log. you will get more idea.

[2018-10-04 17:09] IhsanBhee commented on #266
this using Node and Npm version :
info using npm@6.4.1
info using node@v8.12.0

[2018-10-07 07:27] vasthurengan commented on #261
Hi
I actually deleted your files. After seeing mail again I tried.
The login is not working and returns to login page not showing any errors
and no logs also.

I can see some like this at the bottom:

MessagesTimelineExceptionsViews6RouteQueries0MailsAuthGateSessionRequest
#1 login (07:24:13)7.1.22Version22.88msRequest Duration4MBMemory UsageGET
loginRouteAuth status

   - Booting (13.03ms)
   - A

[2018-10-07 15:51] gupta-kamlesh-r commented on #261
Please find the screenshot

![Uploading Screenshot from 2018-10-07 21-21-20.png…]()

[2018-10-07 17:22] ash94ish opened #267 "The Mix manifest does not exist"
I am getting this error
"The Mix manifest does not exist. (View: C:\xampp\htdocs\laravel-adminpanel\resources\views\frontend\layouts\app.blade.php) (View: C:\xampp\htdocs\laravel-adminp ▶"

![image](https://user-images.githubusercontent.com/9510757/46584659-938fc700-ca83-11e8-9625-9c267ddb0387.png)

[2018-10-07 19:31] vasthurengan commented on #261
Hi
screenshot not recieved

On Sun, Oct 7, 2018 at 9:21 PM Gupta Kamlesh R <notifications@github.com>
wrote:

--

Best of luck

Regards

B.Renganath

vasthurengan.com

+91 94459 48440

[2018-10-10 06:26] xiashiwei opened #268 "I want to ask..."
Sir,I want to ask why not use bootstrap4 as the default frontend scaffold?
![20181010141535](https://user-images.githubusercontent.com/7830327/46716909-5f412400-cc98-11e8-9f4e-330f70187519.png)

[2018-10-10 18:33] vrkansagara commented on #268
@xiashiwei  It is a good question. I assume this is developed for long term stability so we have used this. But still you are feel free to implement on your fork and send us PR for further review and merge process.

I hope this convey to you. @viralsolani , @bvipul you can tag as enhancement tag and close it.

[2018-10-10 18:36] vrkansagara commented on #267
this is duplicate issue #227. @viralsolani , @bvipul  close it.

@ash94ish kindly look for the closed issue first before issuing new one which help you to quickly jump on already solved problem which lead into saving time and delay in response.

[2018-10-10 18:37] vrkansagara commented on #267
@ash94ish  The quick response is you have to run `npm run development`

[2018-10-10 18:39] vrkansagara commented on #266
@IhsanBhee  Kindly remove your node_modules folder and re-run the `npm i  && npm run development`

[2018-10-10 18:40] vrkansagara commented on #261
@vasthurengan  You can also walk through the demo link for such issue.

[2018-10-11 19:50] hanabishirin opened #269 "Issue With Datatable"
I am having some issues with the output of datatable. Here is how the Attribute is setup for this particular case:

`trait SchoolAttribute
{
    /**
     * @return string
     */
    public function getActionButtonsAttribute()
    {
        return '<div class="btn-group action-btn">
                    <a href="www.google.com" class="btn btn-flat btn-default">
                    <i data-toggle="t

[2018-10-12 05:54] viralsolani commented on #268
@xiashiwei Yes, it is in the plan. we will do it in near future.

[2018-10-12 05:54] #268 closed

[2018-10-12 05:56] viralsolani commented on #267
@ash94ish Yes if you run the above command it will sure resolve your issue.

[2018-10-12 05:56] #267 closed

[2018-10-12 05:57] viralsolani commented on #266
@IhsanBhee are you still facing issue? if not then please close this issue.

[2018-10-12 05:59] viralsolani commented on #261
@vasthurengan for sure there is some issue in configuration. please check if you have run seeder and then check the database as well. please open this issue again if you still not able to log in.

[2018-10-12 05:59] #261 closed

[2018-10-12 06:00] #256 closed

[2018-10-12 09:51] IhsanBhee commented on #266
I will trying sir.

Pada tanggal Kam, 11 Okt 2018 01:39, Vallabh Kansagara <
notifications@github.com> menulis:

[2018-10-12 10:10] IhsanBhee commented on #266
[image: image.png]

[image: image.png]

still same error. Or need change version node and npm

Pada tanggal Jum, 12 Okt 2018 pukul 10.50 Febri Hasan <88ihsan@gmail.com>
menulis:

[2018-10-13 00:34] simoebenhida commented on #269
couldn't duplicate the bug need more informations about it please.

[2018-10-13 06:19] xiashiwei opened #270 "left sidebar problem"
Sir,there has a problem about backend left sidebar,when the contents on the right are not enough So the left side can't scroll,here's the picture
![20181013140645](https://user-images.githubusercontent.com/7830327/46902166-0620fc80-cef3-11e8-8bfb-0c1e623f50df.png)
![20181013140805](https://user-images.githubusercontent.com/7830327/46902167-0620fc80-cef3-11e8-9414-034ba63486ba.png)

[2018-10-15 22:42] qwang135 commented on #270
Can I work on this?

[2018-10-16 03:47] xiashiwei commented on #270
what?

[2018-10-16 03:50] viralsolani commented on #270
@qwang135 Yes please, once issue resolved pleases give us pull request on develop branch.

[2018-10-16 17:55] hanabishirin commented on #269
Hi, I have created a repo with the admin code for your reference, please look at the school section for detail:

https://github.com/hanabishirin/Laravel-Adminpanel-tweak.git

I have written a seed for it as well.

Thanks,

[2018-10-17 08:07] lili94 opened #272 "Add sidebarmenu backend"
hi thanks for your project,  i am new in laravel and i want to add menu in backend and it doesnt work can you help me ?

[2018-10-18 18:28] vrkansagara commented on #272
@lili94  I would suggest to play with demo link first and let us know where you are stuck!

[2018-10-20 08:09] lili94 commented on #272
I follow your suggest and i inderstand how work just go to menu in backend and chose backend grid type the name and it work fine

[2018-10-20 08:10] #272 closed

[2018-10-20 08:16] lili94 opened #277 "Export -component"
Hi i want to use export-component in header button blade and it doesnt work for me how can i use it please ?

[2018-10-20 14:34] bvipul commented on #277
What is the issue that you are getting? And also please check console that you don't have any errors there.

[2018-10-20 15:13] abr4xas commented on #270
Hi there @xiashiwei, I cant reproduce this. Can you tell me what is the size of your screen?

[2018-10-21 07:39] lili94 commented on #277
Thanks for your answer I don't have any error in console  and i use this:
    buttons: [
                        { extend: 'excel', className: 'excelButton',  exportOptions: {columns: [ 0, 1, 2, 3, 4 ]  }},
                        { extend: 'pdf', className: 'pdfButton',  exportOptions: {columns: [ 0, 1, 2, 3, 4 ]  }},
                        { extend: 'print', className: 'printButton',  exportOpt

[2018-10-21 07:44] bvipul commented on #277
You might have some typos in your js that's why your name column is not showing up. And what happens when you click on Export button?

[2018-10-21 08:16] lili94 commented on #277
Nothing happened and no issue show i spent hours and i can't fix the problem , I use this for show column
{data: 'nom', name: '{{config('module.patients.table')}}.nom'}, and the name is not showing up

[2018-10-21 09:07] bvipul commented on #277
Have you updated the Repository for this module to include that field?

[2018-10-21 09:45] lili94 commented on #277
i updated now but i have same problem
 public function getForDataTable()
    {
        return $this->query()
            ->select([
                config('module.patients.table').'.id',
                config('module.patients.table').'.nom',
                config('module.patients.table').'.created_at',
                config('module.patients.table').'.updated_at',
            ]);
    }

[2018-10-21 09:52] lili94 commented on #277
Sorry For distributed you  but I want to ask you something when I create new module wish folder I must change for create my custom module  thanks

[2018-10-21 11:09] lili94 commented on #277
Thanks i fixed the problem of name column i wasn't declared in  resources.php and label.php
and i still have problem with export button

[2018-10-21 14:54] lili94 opened #281 "creation new modul button export doesn't work"
hi when i create new module export button doesn't work how can i fixi it please

[2018-10-21 14:55] #277 closed

[2018-10-21 15:05] bvipul commented on #281
What is the exact issue are you facing? I could not reproduce it? Can you please explain, what is exactly not working.

[2018-10-21 15:28] lili94 commented on #281
OK thanks, when I create new module and go to this new module button action work and button export show copy, excel, print but when I click nothing happened I try everything please help

[2018-10-22 07:52] lili94 commented on #281
hi , i still have the same problem do you find solution please

[2018-10-22 08:05] lili94 commented on #281
I resolve it, missed adding these in index.blade .PHP
Backend.DataTableSearch.init(dataTable);

thanks @bvipul

[2018-10-22 08:07] lili94 commented on #281
i resolve it, i missed adding  Backend.DataTableSearch.init(dataTable); index.blade .php

thanks@bvipul

[2018-10-22 08:08] #281 closed

[2018-10-22 08:15] lili94 commented on #281
i resolve it i missed add  Backend.DataTableSearch.init(dataTable); in index.blade.php
 thanks@bvipul

[2018-10-22 09:46] lili94 commented on #281
i fixed i missed add  Backend.DataTableSearch.init(dataTable); in index.blade.php

thanks @bvipul

[2018-10-24 00:34] tiagosimoesdev opened #283 "Homepage Error"
"Whoops, looks like something went wrong" . in homepage for demo.

[2018-10-25 08:26] lili94 opened #284 "menu probelm"
hi when you want to change the position of menu  in backend  sidebar  is not take it  can you help me

[2018-10-25 18:47] hanabishirin commented on #269
so I found the solution, somehow it requires an extra line for the Datatable controller when generating the buttons:

[2018-10-25 18:50] #269 closed

[2018-10-26 17:07] vrkansagara commented on #283
@tiagosimoesdev @tiagosimoesdev , I gone through the new installation and find that something is breaking in master branch. but we will be back soon.

[2018-10-26 17:12] vrkansagara commented on #283
@tiagosimoesdev , The demo link is up and running fine.

[2018-10-27 14:28] bvipul commented on #284
You need to change in the css for that. But we have a config file that might help you a little.
config/backend.php, try to play with 'layout' value in it.

[2018-10-27 14:28] bvipul commented on #283
Thanks @vrkansagara

[2018-10-27 14:32] #283 closed

[2018-10-27 14:33] bvipul commented on #266
can you please update, if your issue has been resolved. Because these kind of issues, mostly solve itself.

[2018-10-27 14:35] bvipul commented on #270
@qwang135 Did you manage to solve the issue?
And @abr4xas my screen size is 1366x768, and it happened to me too.

[2018-10-27 15:01] abr4xas commented on #270
@bvipul ok, let me check : )

[2018-10-28 09:10] bvipul commented on #284
Oh sorry, I think I have fixed that issue, could you please take a new pull from our master branch. Hope your issue will be resolved.

[2018-10-28 09:11] bvipul commented on #284
https://github.com/viralsolani/laravel-adminpanel/pull/255/commits/282a0c5bafa4d2df763445bc772f7fcff70534d6

[2018-10-28 13:54] lili94 commented on #284
Thanks so much its work

[2018-10-28 13:54] #284 closed

[2018-10-29 02:41] baduypaltalk opened #287 "Can not run project without artisan"
I can not run this project with url: localhost:88/laravel-adminpanel
Please help !

Regards,

[2018-10-29 08:43] sahsuraj opened #288 "Regarding install in xampp"
I installed php version (PHP Version 7.1.21 )but its not able to install in my local system.

 Problem 1
   - This package requires php >=7.1.3 but your PHP version (5.6.37) does not satisfy that requirement.
 Problem 2
   - arcanedev/log-viewer 4.6.2 requires php >=7.1.3 -> your PHP version (5.6.37) does not satisfy that requirement.
   - arcanedev/log-viewer 4.6.1 requires php >=7.1.3 -> your PH

[2018-10-29 09:02] bvipul commented on #288
Please install PHP version 7.1.3 or above as the error states clearly.

[2018-10-29 09:28] baduypaltalk commented on #287
How can I run this project by url: localhost/projectname  don't need execute run project with "php artisan serve" ?

Could you please me ?

[2018-10-29 09:33] bvipul commented on #287
Hello, you need to create a virtual host to run with a url. There are plenty of docs on Google on how to do that for a laravel project. Do that, and add that new url to your .env file and you are good to go

[2018-10-29 10:43] vrkansagara commented on #287
@baduypaltalk  You need to place the project files into server directory , lets say `/var/www/html/laravel-adminpanel`

This will provide you a external link as `http://localhost/laravel-adminpanel/public` this will work for you in most case. and if you are using apache you need to rewrite the `laravel-adminpanel` directory.

for how to rewrite you can find my [blog post over](https://vrkansagara.

[2018-10-29 15:22] brazitech opened #290 "error on front page"
i am getting this error after a fresh install
  [an error occurred while processing the directive]
![screen shot 2018-10-29 at 12 19 26 pm](https://user-images.githubusercontent.com/6499340/47660169-36180300-db75-11e8-847d-c12411238ef8.png)

[2018-10-30 01:29] baduypaltalk commented on #287
Its done, thanks bro

[2018-10-30 01:30] baduypaltalk commented on #287
Thanks you, i've emplemented on windows os & ubuntu successfully.

[2018-10-30 01:35] #287 closed

[2018-10-30 05:49] #288 closed

[2018-10-30 10:46] lili94 opened #292 "foreign key show null"
hi i have tow table patients and consultations i add forign key in patient for consultation id and show me null    $table->unsignedInteger('test');
            $table->foreign('test')->references('id')->on('consultations');
can anyone help me please @viralsolani  @tommycox

[2018-11-02 09:43] baduypaltalk opened #293 "Not Display Uploaded Image"
Hi Admin,

Im using Windows 7 OS,
I uploaded images from module "Setting", i took a check  and saw the image was uploaded.
But it does not display after I click update button.

Plz see the picture and my virtual domain in sourcode.

![bug](https://user-images.githubusercontent.com/8188362/47907579-20307800-debe-11e8-919c-3cb020865737.png)
![bug2](https://user-images.githubusercontent.com/8188362/4

[2018-11-02 09:48] baduypaltalk commented on #293
Hi,
I've tried with "Blog" module and its has same error. The uploaded image does not display.
![bug3](https://user-images.githubusercontent.com/8188362/47908034-0479a180-debf-11e8-8ec5-bd560cf5ad34.png)
![bug4](https://user-images.githubusercontent.com/8188362/47908107-296e1480-debf-11e8-895e-6c3021749924.png)

plz let me know how to fix ?

[2018-11-02 12:44] mehadihasan commented on #257
any solutions?

[2018-11-05 09:13] vrkansagara commented on #293
HI @baduypaltalk ,

Have you given proper permission to the directory. Does server and php can able to read the file path.

[2018-11-06 01:46] baduypaltalk commented on #293
Hello,

I fixed it done, i created virtual host to 'root/public' diretory.  When i copy and edit the htaccess file from 'root/public to 'root' then it OK.

Thanks for your following.

[2018-11-06 01:49] baduypaltalk opened #294 "Can not translate sidebar menu"
Hi Guys,

I just only change the main labels ex:  " dashboard, system"  to my localize, but i can not apply with other menu item ex: access managerment.

Could you please tell me how to translate them.

Best regards,

[2018-11-06 01:49] #293 closed

[2018-11-06 04:38] baduypaltalk commented on #294
Yes , bvipul

I saw. I can set localize status to show them.
But with my main issue i've fixed by change main app layout.
I switched the sidebar-dynamic to sidebar template to show sidebar menu then i can translate all of these labels.
And of course i  accept to use the 'not dynamic sidebar menu'.

Thanks for your reply Bvipul.

[2018-11-06 04:38] #294 closed

[2018-11-06 10:13] lili94 commented on #292
I fixed it done, thanks @bvipul  i was worng in relationship thanks

[2018-11-06 10:14] #292 closed

[2018-11-06 10:19] lili94 opened #295 "search box not working"
hi when i add this to my index.blade.php  is searching just by id
                          <th>
                                {!! Form::text('nom_patient', null, ["class" => "search-input-text form-control", "data-column" => 0, "placeholder" => trans('labels.backend.patients.table.nom_patient')]) !!}
                                    <a class="reset-data" href="javascript:void(0)"><i class="f

[2018-11-06 10:32] bvipul commented on #295
You have to provide correct data-column in the FORM::text

[2018-11-06 10:39] lili94 commented on #295
hi thanks for replay i provide correct data and everything show good in index.blade.php but the search input don't work is show me just by id

[2018-11-06 12:35] bvipul commented on #295
The data-column attribute needs to be the column number starting from 0

[2018-11-06 12:48] lili94 commented on #295
itt 's wooorkkk thanks soo much @bvipul  for reply ,my Allah keep you always progress in your life

[2018-11-06 12:48] #295 closed

[2018-11-06 13:19] bvipul commented on #295
:blush: :+1:

[2018-11-11 12:42] kumawatram commented on #267
After run all these command and also generate the file, But public_path given some error .
Am attach the screen.

![image](https://user-images.githubusercontent.com/12869568/48313047-1228d880-e5dd-11e8-9fa3-83408a541cb6.png)

now am print the public_path : out put is

E:\xampp\htdocs\laravel-adminpanel/../public\/mix-manifest.json

please suggest me.

Also i want to run this code on root.

Am new

[2018-11-11 14:44] vrkansagara commented on #267
@kumawatram I would suggest to follow https://github.com/viralsolani/laravel-adminpanel/issues/267#issuecomment-428684179

[2018-11-12 05:16] kumawatram opened #296 "fonts awesome not suppot"

[2018-11-13 09:34] tusharsinhparmar opened #297 "npm install run error"
When i run **npm install** got error : found 4 vulnerabilities (1 low, 1 moderate, 2 high)
  run `npm audit fix` to fix them, or `npm audit` for details

High            Cross-Site Scripting (XSS)
Low             Regular Expression Denial of Service
High            Missing Origin Validation
Moderate        Regular Expression Denial of Service

And not fix by **npm audit fix** command

[2018-11-13 10:37] tusharsinhparmar opened #298 "install.sh run error"
While run **./install.sh** got Connected successfully! and Successfully created databasename database message with error **In SchemaException.php line 89: There is no column with name 'created_by' on table 'users'.**

[2018-11-14 06:46] lili94 commented on #298
hi try to create your database, change in env file your database name and password, then php artisan migrate and it s work fine

[2018-11-14 06:55] lili94 opened #299 "select Form not return id"
hi @viralsolani  i use select in my form like this:

      <div class="col-lg-10">
           {{ Form::select('ListAllergie', $ListAllergie ,$allergie_id, ['class' => 'form-control box-size','maxlength' => 50 , 'placeholder' => ' Non définie', 'required' => 'required']) }}
        </div>
    </div>

and i pluck id in create response
              $ListAllergie =Allergie::pluck("nom_allergie","id")

[2018-11-17 18:40] vrkansagara commented on #298
@tusharsinhparmar try as per @lili94  suggestion this will resolve your problem.

[2018-11-17 18:43] vrkansagara commented on #297
@tusharsinhparmar this is very specific to the node package. you are feel free to open issue [here](https://github.com/npm/npm/issues)

Is there any specific concern to the project let us know.

[2018-11-17 18:45] vrkansagara commented on #296
@kumawatram Kindly provide specific use case.

[2018-11-17 18:45] #296 closed

[2018-11-17 18:47] vrkansagara commented on #290
@brazitech , Are you still facing this error!

[2018-11-19 08:56] tusharsinhparmar commented on #298
Thanks @lili94 and @vrkansagara .

[2018-11-19 08:56] #298 closed

[2018-11-19 17:09] vrkansagara commented on #299
This is very common problem you can google for it! @lili94

[2018-11-20 13:17] lili94 commented on #299
hi yes i fix it yesterday like this
 <div class ="form-group">
        {{ Form::label('list_patient', trans('validation.attributes.backend.consultations.nom_patient'), ['class' => 'col-lg-2 control-label required']) }}
        <div class="col-lg-10">
        <select id="patient_id" name="patient_id" class="form-control select2 box-size" required="required" placeholder=" Non définie" >
        <opt

[2018-11-20 13:17] #299 closed

[2018-11-21 06:54] bvipul commented on #270
@abr4xas What's the status?

[2018-11-21 06:56] bvipul commented on #257
@mehadihasan @lili94 @brazitech Have you setup the smtp credentials in .env ?

[2018-11-22 09:37] lili94 opened #301 "How to show foreign key in index blade"
hi @viralsolani  i have foreign key in my table to show name in create blade and it s work fine but in index it show me just the id i don't know how can i fix it
![k](https://user-images.githubusercontent.com/32308220/48894250-8c115b00-ee42-11e8-9f51-ffc4ea6703f1.PNG)

nom patient is refernce to table patient

[2018-11-22 09:42] bvipul commented on #301
Please check, blog module for reference on this

[2018-11-22 09:46] lili94 commented on #301
hi thanks for your fast answer ,but you didn't anderstand me i want to show  foreign key  name   in server side datatable

[2018-11-22 10:00] bvipul commented on #301
Hello, if you look at the blog implementation, you will see that, we have a created_by foreign key and in the datatable we are showing the name of the user from that foreign key.

[2018-11-22 17:56] vrkansagara commented on #266
It's look like issue resolved. closing down.

[2018-11-22 17:56] #266 closed

[2018-11-22 17:57] #297 closed

[2018-11-22 17:58] #290 closed

[2018-11-23 04:51] nw1923 opened #302 "Login always redirecting to login page"
Moved working site to new server, login page always redirecting to login page. dashboard not showing

[2018-11-27 03:36] baduypaltalk opened #303 "Self Relation - Parent & child in the same table not work"
Hi,

I would like to build a Create View for 'Company' module, which has a 'selectbox' sames as the 'BlogModule.Category'.

![blog-create-module](https://user-images.githubusercontent.com/8188362/49056746-8bf0d100-f22f-11e8-852d-ccd3e5e459e0.png)

My steps:
- Generate module 'Company' include: CRUD
- Change Create View
-  Run Company.Create ( it displays the error )

Please see the attached images

[2018-11-27 04:52] bvipul commented on #303
In CreateResponse, I don't see if you have passed the array of companies, just like we have passed tags and categories to the CreateResponse

[2018-11-27 04:53] bvipul commented on #303
Look at BlogsController for more reference, if still its not resolved, if you have the project on github, please send me the link, I will try to solve it in your repo.

[2018-11-27 05:02] viralsolani commented on #302
Hey @nw1923  please check mod_rewrite settings on the server. please check logs and paster over here. so that we can get an excat idea.

[2018-11-27 05:04] viralsolani commented on #301
Yes @lili94  you can check user module and blog module for the reference. closing the ticket as of now.

[2018-11-27 05:04] #301 closed

[2018-11-27 08:56] baduypaltalk commented on #303
@bvipul  thanks you.

I've implemented it done.

[2018-11-27 08:56] #303 closed

[2018-11-27 11:51] lili94 opened #304 "Active button in index.blade"
hi @viralsolani  i need your help sorry to bother you i am doing somthing like button active  and everthing work well
![capture11](https://user-images.githubusercontent.com/32308220/49080015-8cdf2e00-f242-11e8-81db-fdee53dce6d6.PNG)
![capture22](https://user-images.githubusercontent.com/32308220/49080017-8cdf2e00-f242-11e8-9e68-ba8517ed917e.PNG)
but like yous see i can't get like you i got 0 and 1

[2018-11-27 12:00] cygnet-bvipul commented on #304
Hello @lili94, use
`->addColumn('status', function ($model) {
                return $model->status_label;
            })`
in your TableController

[2018-11-27 12:03] bvipul commented on #304
Hello @lili94, use
->addColumn('status', function ($model) { return $model->status_label; })
in your TableController

[2018-11-27 12:33] lili94 commented on #304
oohh thankss @viralsolani  it s' work

[2018-11-27 12:33] #304 closed

[2018-11-28 10:36] mehadihasan commented on #257
yes, I used Gmail smtp credentials and its working.

[2018-11-29 02:37] baduypaltalk opened #306 "Self Relation - Show Parent Name on Index View"
Hi,

Please see my attached images.

I would like to show the  'name'  maping with the parent_id in the same table on self-relation.
Can you tell me how to do that ?

Thanks
![screenshot-iweb me-2018 11 29-09-32-46](https://user-images.githubusercontent.com/8188362/49195594-4dd3e880-f3ba-11e8-84a2-3a523232249d.png)
![untitled](https://user-images.githubusercontent.com/8188362/49195595-4dd3e880-f3b

[2018-11-29 05:36] nidhishankermodi opened #307 "After login always sends me to Dashboard"
All roles must have redirections. According to their role redirections, we can send them to a particular path.

Right now, all user logins are sending me to Dashboard whereas seems dashboard permissions are not given to the particular user.

We are using the same approach in our of our project.

![image](https://user-images.githubusercontent.com/15975325/49201382-b4f79a00-f3c6-11e8-95e8-c65c0049f5

[2018-11-29 08:15] lili94 commented on #306
i have the same issue i try follow blogcategorie like what he was done with createdby but i have datatable error in join

[2018-11-29 08:52] lili94 commented on #301
hi @viralsolani and @bvipul  thanks i try and i do like you telle me but i got error in my join  vaccination repository
![01](https://user-images.githubusercontent.com/32308220/49209971-31d14680-f3bc-11e8-920f-34a69a842830.PNG)
![02](https://user-images.githubusercontent.com/32308220/49209973-3269dd00-f3bc-11e8-805c-f5ff42a0ceba.PNG)
![03](https://user-images.githubusercontent.com/32308220/4920997

[2018-12-02 12:55] lili94 opened #308 "permission for new module"
hi @viralsolani @bvipul  i have module patients is work fine i create new role **medcin** i seed pesmision module patient in permission table seeder.php i create new user and associte role medcin with permission module patient view-create-edit-delete when i login with this new user i got nothing please help

 thanks

[2018-12-02 14:31] lili94 commented on #308
please @viralsolani  i need your help

[2018-12-03 08:07] lili94 commented on #306
do you resolve it @baduypaltalk

[2018-12-03 08:17] baduypaltalk commented on #306
:)  It does not resolve Lili.  Im still waiting for the answer from  @bvipul  handsomes  :)

[2018-12-03 13:35] navdeep1186 commented on #308
is there any success!

I am also getting the same error when I created a new module and assign to execute user.
it has not displayed that module when execute user logged in.

[2018-12-05 09:10] viralsolani commented on #308
@lili94 you got nothing means? can you please explain your issue? You need to add permission in to form request classes and in the sidebar as well.

[2018-12-05 09:12] viralsolani commented on #307
Yes for that you need to do customization and after login needs to check role and accordingly send to different places or dashboard. you can check the example of admin and frontend user.

[2018-12-05 09:12] #307 closed

[2018-12-05 09:14] viralsolani commented on #302
If the issue still persists please open the ticket again.

[2018-12-05 09:14] #302 closed

[2018-12-08 01:13] lili94 commented on #308
thanks @viralsolani  it s work i was worng in url  @navdeep1186  look add permision in your request exemple view-patient then change in your controller module using the same request not formeRequest then add permission in
MenuTableSeeder  PermissionTableSeeder ModuleTableSeeder finally sidebar.blade.php and it s wooork

[2018-12-08 01:14] #308 closed

[2018-12-08 16:53] bvipul commented on #306
Hello @baduypaltalk, I think, you need to add a join in Repository with the same table and make an alias to it and then use that alias to get the name that you desire.

If you still find it difficult, then please add comment with the repository getForDatatable() method.

[2018-12-08 18:39] lili94 commented on #306
@baduypaltalk  @bvipul  i resolve it you must add like @bvipul said in controller table your foreign key , then in resource  like page module add also the relationship of module in resource after that in your repository add the join then in view and it s work follow created_by in page module

[2018-12-08 21:43] GrCOTE7 opened #309 "Login in Demo"
Hi,

I tried to connect in the Demo with admin@admin.com & 1234 as PW...
(Seen in the seeder...)

But it doesn't work :-(...

Thanks to verify that

[2018-12-08 23:17] darvishiyan-mahdi opened #310 "question about package"
hi i like to know what acl method do you use in your package is it built in laravel guard or something else

[2018-12-09 05:51] bvipul commented on #309
Hello @GrCOTE7, sorry for that, I think the password is changed. @vrkansagara can you please look into that? Thanks.

[2018-12-09 06:01] bvipul commented on #310
Hello @darvishiyan-mahdi, we are using simple permissions in db and checking those using Access Helper and we have helper methods to check if the permission is given to that particular user. It is having role wise permissions as well as user wise permissions. And User permissions override the role permissions.

[2018-12-09 06:18] GrCOTE7 commented on #309
Note: In my local deployment,  admin@admin.com/1234 works... ;-)

[2018-12-09 15:46] tarzanpasha opened #311 "we hav an error after install project."
"The Mix manifest does not exist. (View: /home/vagrant/code/laravel-adminpanel/resources/views/frontend/layouts/app.blade.php) (View: /home/vagrant/code/laravel-adminpanel/resources/views/frontend/layouts/app.blade.php) ◀"

that error appears after we try to load a project page

[2018-12-09 15:51] bvipul commented on #311
This is because you haven't done `npm run dev`

[2018-12-09 15:53] tarzanpasha commented on #311
thank you! i hav just do it and all works. and I came to delete my comment and see that you have already answered!!!
I'm so ssory

[2018-12-09 15:57] bvipul commented on #311
No issues, have a blast..:sunglasses:

[2018-12-09 18:33] lili94 commented on #293
i didn't inderstand what you do i have the same problem can you help me please

[2018-12-10 01:52] baduypaltalk commented on #306
OK, im trying .... Thanks you

[2018-12-10 01:54] baduypaltalk commented on #306
@lili94 could you take some captures about your source here ?

[2018-12-10 07:21] lili94 commented on #306
yes of course form me is (id_patient) foriegn  key of table patient want to show it in table consultation

1-consultation table
![capture01](https://user-images.githubusercontent.com/32308220/49716336-be4cf600-fc53-11e8-96de-c5ec98a6d2f1.PNG)
2-consultation tablecontroller
![capture02](https://user-images.githubusercontent.com/32308220/49716363-cefd6c00-fc53-11e8-8504-6abd41fb6fcd.PNG)
3-consultat

[2018-12-10 07:53] lili94 commented on #293
@baduypaltalk please can you make capture how it s work for you i cant find solution

[2018-12-10 07:55] vrkansagara commented on #309
@GrCOTE7 Yes, this is the default password. And a matter of demo link  that any body can able to change the password from the admin panel @bvipul  so I am sure that I didn't do it.

But let me reset whole database so people can able to login again.

Also we have to implement such feature using .env file that only available variable can able to change the password of supper user only .

/cc @virals

[2018-12-10 07:56] vrkansagara commented on #309
re-open for confirmation with user(s).

[2018-12-10 09:23] bvipul commented on #309
Thanks @vrkansagara

[2018-12-11 06:22] baduypaltalk commented on #293
@lili94  yes of course,

- I deployed on Windows 7 OS & xampp ( php7.2x)
- I saw this isssue and these are my steps as bellow:

+ Create .htaccess in (root)\storage\app\public\

![image](https://user-images.githubusercontent.com/8188362/49781984-38aa7280-fd47-11e8-8958-d7fc7a2bc5a3.png)

+ Implement path in view:
![image](https://user-images.githubusercontent.com/8188362/49782034-6bed0180-fd47-11e

[2018-12-11 08:21] lili94 commented on #293
it doesn't work :(

[2018-12-11 17:50] Tranest8tion opened #313 "Issue with initial install - Cannot see landing page"
I am very "green" to Laravel and PHP, so following step by step through the instructions, I cannot seem to point IIS to the correct landing page for this to work. All I see is 404.

Using IIS10  dB: MS SQL  Server: Windows Server 2016

Thank you for any and all assistance with this issue.

[2018-12-11 18:34] Tranest8tion commented on #313
UPDATE: Got it pointed to the correct location, however, now I have this nasty error about google analytics that I cannot get around.

Thanks

[2018-12-11 18:38] Tranest8tion commented on #313
UPDATE: Got through it, and its working!

[2018-12-11 18:38] #313 closed

[2018-12-11 18:52] Tranest8tion opened #314 "Is this compatible with MS SQL?"
As I am beginning to to use this, I keep seeing mySQL errors. Is this not compatible with MS SQL? In User Management, I get this error:

![screen shot 2018-12-11 at 1 52 10 pm](https://user-images.githubusercontent.com/13798489/49822793-1cf59b00-fd4c-11e8-9d8f-aaa5f64860b6.png)

Any and all assistance is greatly appreciated.

Thank you!

[2018-12-12 01:41] baduypaltalk commented on #299
@lili94
Did you implement the ajax event like this ?

![image](https://user-images.githubusercontent.com/8188362/49841238-719b2380-fde9-11e8-8185-509cd3e62f1d.png)

I would like show all employees depend Department when i select a department.

If yes, im so happy if you take some your source capture about it.

Thanks

[2018-12-12 08:12] lili94 commented on #299
@baduypaltalk  yes of course i do it without ajax just add foreign key of your module in database then go to create response in my code
![capture1](https://user-images.githubusercontent.com/32308220/49855573-f9832c80-fded-11e8-9124-820270b78cdd.PNG)
![capture2](https://user-images.githubusercontent.com/32308220/49855574-fa1bc300-fded-11e8-8ca2-2b772d8a44bd.PNG)
![capture3](https://user-images.gith

[2018-12-12 08:13] lili94 commented on #287
@baduypaltalk  please can you help me to create virtual host

[2018-12-12 08:49] baduypaltalk commented on #287
Oh Guy,,

Hope here that you need :

https://austin.passy.co/2012/setting-up-virtual-hosts-wordpress-multisite-with-xampp-on-windows-7/

[2018-12-12 08:55] baduypaltalk commented on #299
@lili94

i think your source does noy match with my question,

When i 'onchange' Department selectbox:

![image](https://user-images.githubusercontent.com/8188362/49857663-b6dd4680-fe25-11e8-8a64-a634c294dfde.png)

Employees selectbox shows only employees itsself.

![image](https://user-images.githubusercontent.com/8188362/49857839-0e7bb200-fe26-11e8-958d-91bace8485ab.png)

I've just done it.
I st

[2018-12-12 09:31] lili94 commented on #287
hi think i use this https://github.com/worldtutorial/vhost-for-laravel/blob/master/v-host.txt and work fine

[2018-12-12 09:49] lili94 commented on #293
@baduypaltalk  equipement is folder in storage folder or public folder

[2018-12-12 15:15] lili94 opened #315 "Redirect in Route"
hi @viralsolani @bvipul  i want to make the project enter in login page and dashboard i d'ont want  to redirect to frontend  can you help me please i want to use login account an dashboard

[2018-12-13 04:33] baduypaltalk commented on #306
Ok its done,

Thanks

[2018-12-13 04:33] #306 closed

[2018-12-13 04:36] baduypaltalk opened #316 "History , history Types"
I would like to make the history of generated modules.

Now i can see only the history of defaul modules: blog, blog category, access user, access role, access permission.

Plz help me
@viralsolani  @bvipul  & all

[2018-12-13 06:39] baduypaltalk commented on #315
@lili94
if you need only set default page with Login, you can try:
- goto FrontendController@index function and implement as this code:

![image](https://user-images.githubusercontent.com/8188362/49920329-5fe67880-fedc-11e8-88b9-5395084908ff.png)

Hope it work!

[2018-12-13 07:00] lili94 commented on #315
yes it work i fixit yesterday thanks for you  help

[2018-12-13 07:00] #315 closed

[2018-12-13 10:08] lili94 commented on #315
@baduypaltalk @bvipul @viralsolani i want to delete this and redirect to login page
![capture22](https://user-images.githubusercontent.com/32308220/49931526-530b5a00-fec7-11e8-8845-00cad99bd5e0.PNG)

[2018-12-14 14:32] vrkansagara commented on #309
@GrCOTE7  and @bvipul  this might resolved for the issuer.

[2018-12-14 14:32] #309 closed

[2018-12-15 07:52] bvipul commented on #316
@baduypaltalk You need to add history types for those and emit events when certain things happens and catch those events and listen for them in listeners and use the history() helper method to save the history. You can take reference from listeners for other modules.

[2018-12-15 07:59] bvipul commented on #314
If laravel supports then, this project does it too. But at some places we have used raw queries which are based on mysql, so you might need to change them.

[2018-12-15 07:59] #311 closed

[2018-12-15 08:01] bvipul commented on #257
Awesome, so I am closing this issue.

[2018-12-15 08:01] #257 closed

[2018-12-16 19:01] lili94 commented on #257
hi @mehadihasan  can you put some capture how you fixed it or help me please

[2018-12-17 09:49] lili94 opened #317 "Add new Admin dashboard panel"
hi @viralsolani @bvipul and all i want to change design of backend admin i change login form and i want to change backend but js and css don't wont to work he work fine in login i add assets to public folder but d'ont wont to work

[2018-12-19 17:38] mehadihasan commented on #257
hello @lili94
Use mail setup in .env

MAIL_DRIVER=smtp
MAIL_HOST=your host
MAIL_PORT=your port
MAIL_FROM=your mail id
MAIL_FROM_NAME=mail from
MAIL_USERNAME=your username
MAIL_PASSWORD=your password
MAIL_ENCRYPTION=your mail encryption

try it for the forgot password option, hope it will work. If not, then let me know.

[2018-12-21 04:05] baduypaltalk commented on #277
@lili94 & @bvipul

Did you export the image into excel file ?
I can show images to index.blade but can not export them

Can you help ?

[2018-12-22 11:32] viralsolani commented on #317
@lili94 we are using admin LTE for Laravel Admin Panel. if you want to change the design , you can create your custom CSS and override the admin lte CSS rules.

[2018-12-22 11:34] viralsolani commented on #314
@Tranest8tion as of now we will support MySQL only.  So closing this issue.

[2018-12-22 11:34] #314 closed

[2018-12-22 11:35] viralsolani commented on #310
@darvishiyan-mahdi , if you have a question related to ACL, please do let us know. we will sure let you know about it. for now, I am closing this ticket.

[2018-12-22 11:35] #310 closed

[2018-12-22 11:37] viralsolani commented on #316
@baduypaltalk Yes, you can see the example of any default module and replicate the feature in your new modules. please let us know if you have any other question related to history. Closing this ticket for now.

[2018-12-22 11:37] #316 closed

[2018-12-22 11:37] #317 closed

[2018-12-22 11:49] lili94 commented on #317
hi @viralsolani  i create my custom css but i d'ont know where can i override the admine lte css rules please help

[2018-12-25 13:36] Malwindersingjh commented on #256
I have user,role and permission issue. When I revoke page create permissions from a role (e.g. executive role)  then it still allowing that user to create a page. Same when I create a new permission and assign to a role then it do not work.

Is there any permission cache needed to reset ?

[2018-12-25 14:47] bvipul commented on #256
There is no issue in going either way, I am just saying, only one of them needs to be applied at any time....

[2018-12-29 14:59] lili94 opened #320 "Forbidden 403"
hi @viralsolani @bvipul  i try new design for the application everything work fin in dashboard but whaen i put it for module exmple page in work but when i put it in page /create .blade i got permission access for index .blade
![screenshot_2018-12-29 403 forbidden](https://user-images.githubusercontent.com/32308220/50539561-ac8bae00-0b82-11e9-8992-d955bb300532.png)can you help me please

[2018-12-30 07:45] lili94 commented on #320
i fix it but i have problem with add design backend can anyone help me

[2018-12-31 12:52] malikatiq786 commented on #320
permission are not working for multi users. i created a new users when i login its give blank drop-down

[2019-01-03 17:15] jobferrera opened #324 "Error: Swift_TransportException (530)"
Swift_TransportException (530)
Expected response code 250 but got code "530", with message "530 5.7.1 Authentication required "

[2019-01-04 06:03] suresh5 opened #325 "Error: Cannot find module laravel-adminpanel\node_modules\laravel-mix\setup\webpack.config.js'"

[2019-01-04 09:16] sirfarmalot commented on #324
+1 how to get registration to work correctly?

[2019-01-04 14:01] viralsolani commented on #325
@suresh5 can you please give us some screenshots?  are you able to run npm run dev sucessfully ?

[2019-01-04 14:09] viralsolani commented on #324
well, you guys need to add SMTP configuration in your .env files.

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

[2019-01-04 14:10] viralsolani commented on #320
I am not able to understand your question. may be you can give example by code which you have return.

[2019-01-07 08:21] lili94 commented on #325
hi @suresh5  you miss npm install , after that npm run development try that

[2019-01-07 08:24] lili94 opened #326 "Combine Two Columns From DataTable"
hi @viralsolani @bvipul I want to combine two columns in my DataTable. I have name and surname but I want to combine them and show just one column with the full name.
Blade

[code]
DataTable Ajax

[code]
![screenshot_2019-01-07 gestion des patients](https://user-images.githubusercontent.com/32308220/50799570-da889500-12dc-11e9-933a-16b3f1c7f060.png)

[2019-01-08 02:12] bangtiray opened #327 "set max file size"
Hi Viral.
how to set a file max size in config-> lfm.php where files are more than 10mb
thanks viral

[2019-01-08 02:14] bangtiray commented on #324
in file .env you can set like :
MAIL_DRIVER=smtp
MAIL_HOST=mail.domain.com
MAIL_PORT=465
MAIL_FROM=donotreply@email.com
MAIL_FROM_NAME=Admin
MAIL_USERNAME=noreply@email.com
MAIL_PASSWORD=*******
MAIL_ENCRYPTION=ssl

[2019-01-08 05:49] ghantalavishal commented on #326
you can combine two colom into one using _invoke method which is in TableController file. keep one colom in blade and combine name and surname into one using invoke method with help of addColumn function.

[2019-01-08 06:50] lili94 commented on #326
hi @ghantalavishal please can you show me how i c'ant make it

[2019-01-08 07:32] lili94 commented on #327
hi @bangtiray go to config/lfm.php and change this tow line
 'max_image_size' => 50000,
 'max_file_size'  => 50000,
to
 'max_image_size' => 100000,
 'max_file_size'  =>100000,
try that

[2019-01-08 08:21] ghantalavishal commented on #326
@lili94  can you provide me your tableController file OR _invoke method code, I will explain you how to do.

[2019-01-08 10:13] bvipul commented on #270
Adding this into our Work to do.

[2019-01-08 10:13] #270 closed

[2019-01-08 10:14] bvipul commented on #324
The answer from @bangtiray and @viralsolani should solve your issue.

[2019-01-08 10:14] #324 closed

[2019-01-08 10:16] suresh5 commented on #325
i did like that only bro

[2019-01-08 11:02] bvipul commented on #325
@suresh5 what is the error you are encountering while doing `npm install`, because surely there is some error in that.

[2019-01-08 21:05] lili94 commented on #326
HI @ghantalavishal  sorry to be so late and thanks for your help this is my invoke function

[code]

[2019-01-10 05:45] ghantalavishal commented on #326
Hello @lili94

Try this way

[code]

I just removed "prenom_patient" column and combine into one, now you need to remove "prenom_patient" line accordingly from DataTable Ajax call and Blade template.

Let me know your reply...

[2019-01-10 07:19] lili94 commented on #326
hi thaaanks so much it s workk , thanks for your help

[2019-01-10 07:19] #326 closed

[2019-01-14 04:48] HaroonAhmad17 opened #329 "view permission is not creating"
how we can create view permission while generating curd?
![viewissue](https://user-images.githubusercontent.com/34153693/51099383-1eeec600-17f2-11e9-8dc1-022365c77af3.PNG)

[2019-01-15 06:54] invaders-xx opened #330 "Accessing model in edit controller action"
Dear all,

First of all, I would like to thank you and congratulate for this great projet which helps me a lot to get deeper into Laravel.

I am a Laravel's newbie and I am facing an issue:

I have this route definition:
Route::group(['namespace' => 'Backend', 'prefix' => 'admin', 'as' => 'admin.', 'middleware' => 'admin'], function () {

    Route::group( ['namespace' => 'Process\Group','prefix'

[2019-01-15 07:17] bvipul commented on #330
The name of the variable in your edit method is incorrect, I guess the variable name should be $group in edit method definition

[2019-01-15 14:11] #330 closed

[2019-01-15 14:15] bvipul commented on #329
View permissions are always created as you generate the crud. Can you please explain, in which case did this view permission did not get created? Maybe the name will be different in DB and in the request. If so, then please report that, because that might be a generator issue.

[2019-01-17 02:22] bangtiray commented on #327
thank @lili94
i will try it

[2019-01-17 11:00] NayHtwe24 commented on #227
I have a problem same issuses. How to solve this problem?

λ npm run dev

C:\laragon\www\laravel-adminpanel\node_modules\webpack-cli\bin\cli.js:235
                                throw err;
                                ^

TypeError: Cannot read property 'sass' of undefined
    at Object.<anonymous> (C:\laragon\www\laravel-adminpanel\webpack.mix.js:15:5)
    at Module._compile (C:\laragon\www\l

[2019-01-17 22:08] invaders-xx opened #331 "Implementation Help"
Dear all,

I am using your framework to develop a new application on Laravel and I would like to congratulate all the team for the great work done and the quality, which really speed up my development.
I am a Laravel newbie, so I apologize for the following request.
I have 4 tables :
customers
customer_users
customers_roles
users (existing one)
customer_users_roles (pivot table)

I keep the existi

[2019-01-18 09:21] invaders-xx opened #332 "role_must_contain_permission not working"
Hi,
I set in config.access
'roles' => [
        /*
         * Whether a role must contain a permission or can be used standalone as a label
         */
        'role_must_contain_permission' => false,
    ],

But when I try to create a role I still have the message:
"You must select at least one permission for this role."
Many thanks for your feedback.

[2019-01-18 09:21] #331 closed

[2019-01-18 09:35] invaders-xx commented on #332
I found the issue : it comes from StoreRoleRequest

[2019-01-18 09:39] invaders-xx commented on #332
Class should be :
namespace App\Http\Requests\Backend\Access\Role;

use App\Http\Requests\Request;

/**
 * Class StoreRoleRequest.
 */
class StoreRoleRequest extends Request
{
    /**
     * Determine if the user is authorized to make this request.
     *
     * @return bool
     */
    public function authorize()
    {
        return access()->allow('create-role');
    }

    /**
     * Get the v

[2019-01-23 08:08] lephuhung opened #333 "reactjs?"
Hi men, your project is wonderful with me, but i am coding reactjs, how can I change front-end preset is reacjs? thank

[2019-01-25 17:09] ivantree commented on #330
@invaders-xx I have the same issue, but I can't fix it.

[2019-01-25 17:37] ivantree opened #334 "Only edit owner blog article"
How can I edit only my published blog article ?
Thanks for help!

[2019-01-26 20:09] Aleintel opened #335 "viralsolani/laravel-adminpanel"
Hello,

for the "viralsolani / laravel-adminpanel" project, I would like to know where the information is stored. Is there a Database?

Thanks a lot.

Alessandro

[2019-01-26 20:13] pratik916 commented on #335
Yes Alessandro, there is obviously database to store information. You just
need to provide configuration of database at the time of installation.

On Sun, Jan 27, 2019, 1:39 AM Aleintel <notifications@github.com wrote:

[2019-01-28 03:51] viralsolani commented on #335
@Aleintel As of now, we are only supporting MySQL for Laravel Admin Panel.

[2019-01-28 03:51] #335 closed

[2019-01-28 03:53] viralsolani commented on #334
For that, you need to use Permission module. and add a condition for that. Please let me know if you have any other doubt.

[2019-01-28 03:53] #334 closed

[2019-01-28 03:54] viralsolani commented on #333
Well, you can run php artisan preset react, but it may remove current JS dependencey.

[2019-01-28 03:54] #333 closed

[2019-01-28 03:55] viralsolani commented on #332
Yes, we put validation for it. if you don't want you can modify according to your needs.

[2019-01-28 03:55] #332 closed

[2019-01-28 03:56] viralsolani commented on #329
@HaroonAhmad17 Any update ?

[2019-01-28 03:57] viralsolani commented on #327
@bangtiray I hope this issues has been resolved. Closing this ticket for now.

[2019-01-28 03:57] #327 closed

[2019-01-28 03:59] viralsolani commented on #325
@suresh5 Please double check if you have any error while doing `npm install `or `npm run dev.` And let us know if this issue persists.

[2019-01-28 03:59] #325 closed

[2019-01-28 12:31] arnavdots opened #336 "font osem icon not showing"
font osem icon not showing

[2019-01-28 16:06] oliuz opened #337 "How to change the language"
Hi,

How can I change the language in the app?

Thanks!

[2019-01-29 05:16] viralsolani commented on #336
@arnavdots please share some screenshot.

[2019-01-29 18:35] vrkansagara commented on #337
@oliuz  Kindly refer to https://github.com/viralsolani/laravel-adminpanel/blob/master/app/Http/Controllers/LanguageController.php#L17

[2019-01-29 18:35] #337 closed

[2019-01-30 08:46] bvipul commented on #336
probably some CORS issue.

[2019-01-30 08:48] bvipul commented on #330
@ivantree check this out: https://laravel.com/docs/5.7/routing#explicit-binding

[2019-01-30 15:27] vrkansagara commented on #336
@arnavdots  Can you share more details on this issue ? So our contributor know more on the same !

[2019-01-30 16:29] #329 closed

[2019-01-31 13:07] Aleintel opened #338 "No templates defined."
Hello,
in "Edit Page" - Insert - Template I see the following error: "No templates defined."

How can I load a default template and make it static?

Thanks for the answer,

Alessandro

[2019-01-31 15:01] oliuz opened #339 "How can I change the front-end theme!"
Hi,

I would like to change the theme of the front end, this theme comes with bootstrap 4 and custom styles, this is in the same .css file, will there be any way to integrate it?

Thanks!!

[2019-02-02 19:03] diouck opened #340 "Trying to get property 'google_analytics' of non-object"
How i can resolve this probleme

    $settingData = Setting::first();
      $google_analytics = $settingData->google_analytics;
Thanks

[2019-02-04 14:42] invaders-xx opened #341 "Datatable error when user session ends"
Hi,

If the session is expired, I get an error when on a datatable page. Can you please give me some inputs to handle redirection to login while datatable ajax reload failed due to session expired ?

Many thanks in advance.

[2019-02-06 12:30] sohailglt opened #342 "$request in Custom Middleware returns empty"
This middleware works properly on local server but not on the live server.

`public function handle($request, Closure $next)
    {
        return $this->validate($request,$next);
    }
 private function validate($request,$next)
    {
        $access_key = $request->get('api_key');
        echo $access_key;
        exit();`

[2019-02-06 14:08] bvipul commented on #341
Maybe try this: https://viralpatel.net/blogs/jquery-ajax-handling-unauthenticated-request-ajax/

See if it helps.
Basically what it does is, gives you a method that handles all ajaxErrors and does a page reload on 403. So if the page reloads, our middleware will work and will redirect to login page.

[2019-02-06 14:28] Aleintel commented on #338
How can i put a standard template? can you help me?

[2019-02-06 15:10] invaders-xx commented on #341
Thanks your answer, I will give it a try.

[2019-02-07 09:18] Habibmd007 commented on #336
![capture](https://user-images.githubusercontent.com/19504720/52401315-93640e80-2aeb-11e9-896f-5ab3f59068e4.PNG)
fontawesome is not working

[2019-02-07 11:22] bvipul commented on #336
Your APP_URL in .env is wrong

[2019-02-07 14:30] Habibmd007 opened #343 "This package for who?"
After learning laravel i made a ecommerce, 2 crud with ajax and API but after installing this package I feel like I know nothing, why?

[2019-02-08 08:03] bvipul commented on #343
Don't say that. You know about it, just in a different way. People use different things in their own preferred way or the way they have learned to use it. So probably, just the way we use some things might not make sense, but give it a chance, it will eventually grow on you.

[2019-02-08 09:12] tickleTest opened #344 "Module created by Module Generator"
The index page of the module works fine, but when i click edit button..it displays an error. How to fix this
![image](https://user-images.githubusercontent.com/47444092/52468786-b0204500-2bc4-11e9-9d9a-ec66e608895b.png)

[2019-02-08 09:15] tickleTest commented on #336
same with me
![image](https://user-images.githubusercontent.com/47444092/52468942-1e650780-2bc5-11e9-9e53-8cbb245854c5.png)

[2019-02-08 09:18] bvipul commented on #344
Look in the edit method in the controller to check if that variable name 'amenity' is actually sent to the blade file

[2019-02-11 02:01] tickleTest commented on #344
found it, thanks

[2019-02-11 02:01] #344 closed

[2019-02-11 06:06] tickleTest opened #345 "TinyMCE"
How to use the tinymce for textarea

[2019-02-11 07:35] bvipul commented on #345
just take reference from other modules like Pages. You can check the admin.js file where we have initialized the tinyMCE on textarea.

[2019-02-11 07:35] #343 closed

[2019-02-11 07:36] bvipul commented on #342
@viralsolani @vrkansagara can you please check this?

[2019-02-11 07:37] #341 closed

[2019-02-11 07:38] bvipul commented on #339
There are basically some variables in config/backend.php with color scheme, you can change that to your preference.

[2019-02-11 07:39] bvipul commented on #338
https://www.tiny.cloud/docs/plugins/template/

[2019-02-11 07:48] vrkansagara commented on #342
Sure. Let me see and update the same.

[2019-02-12 15:25] sohailglt opened #346 "Issue while adding custom URL in Menu"
![screenshot from 2019-02-12 20-21-31](https://user-images.githubusercontent.com/5951985/52646068-e67efc80-2f03-11e9-90a5-67675d1ee0bd.png)
I am facing issue while adding custom URL in menu, WIll you please let me know how to fix this issue.?

[2019-02-12 15:39] oliuz opened #347 "How to change notifications"
Hi,

How would it be possible to change the bootstrap notifications by Toastr js

Thanks!!

[2019-02-13 06:54] viralsolani commented on #347
Well, you can implement that notification on your own. we have not explored that. but it should be very easy.

[2019-02-13 06:54] #347 closed

[2019-02-13 06:55] #345 closed

[2019-02-13 06:56] viralsolani commented on #342
I've checked and it works well. Can you please give us error info or screenshot?

[2019-02-13 06:56] #340 closed

[2019-02-13 06:57] viralsolani commented on #338
I think this will help. closing this issue for now.

[2019-02-13 06:57] #338 closed

[2019-02-13 06:58] #339 closed

[2019-02-13 06:59] viralsolani commented on #336
I hope you got the answer. Please let us know if the issue persists.

[2019-02-13 06:59] #336 closed

[2019-02-14 09:32] Fosphatic opened #348 "SQLITE"
Hey there,

is it possible to integrate into installer the possibility to choose sqlite instead of sql driver? It would be just awesome.

Regards,

Fossy

[2019-02-14 11:05] sohailglt commented on #342
/api/v1/fetch?api_key=xyz

`Route::group(['namespace' => 'Api\V1', 'prefix' => 'v1', 'as' => 'v1.'], function () {
    Route::middleware(['accessKeyValidator'])->group(function () {
        Route::get('fetch', 'ApiDetailsController@fetchdetails');
    });
});`

`    class AccessKeyValidator
{
public function handle($request, Closure $next)
    {
        return $this->validate($request,$next);

[2019-02-14 11:37] bvipul commented on #348
we had sqlite before, but it is somehow breaking our test cases. But it should work fine. I am not sure but you can check the install script, it will have commented lines for including sqlite.

[2019-02-14 11:40] bvipul opened #349 "Demo link not working"

[2019-02-14 12:20] Fosphatic commented on #348
Yeah it does run, except the modules entry in the menu. It throws following:

DataTables warning: table id=modules-table - Exception Message:

SQLSTATE[HY000]: General error: 1 no such column: .name (SQL: select "modules"."id", "modules"."name", "modules"."url", "modules"."view_permission_id", "modules"."created_by", "modules"."updated_by", "users"."first_name" as "created_by" from "modules" left

[2019-02-15 16:32] Amrgumaa opened #350 "login passwords are not working"

[2019-02-15 16:35] Amrgumaa commented on #350
hi I am unable to login with username and passwords for all users .is that an internal issue
![screen shot 2019-02-15 at 6 34 21 pm](https://user-images.githubusercontent.com/33161681/52870415-787b4500-3150-11e9-90f9-dda7e52de489.png)

[2019-02-15 17:18] bvipul commented on #350
Can you please check the database table users, and see if they have entries in it. Maybe the seeding didn't go through well

[2019-02-15 18:02] Amrgumaa commented on #350
The tables are seeded well as per attached picture .
![screen shot 2019-02-15 at 7 58 29 pm](https://user-images.githubusercontent.com/33161681/52875245-9babf180-315c-11e9-8e1a-4aa01e84fdeb.png)

[2019-02-15 18:41] vrkansagara commented on #349
Hello @bvipul  This issue arise because of module generator , if you crate any random module using white space so it break laravel basic flow for web routing and controller and migration as well so we need to really take care of it while we give an UI for such operation !

[2019-02-15 18:42] vrkansagara commented on #349
Also I found another issue for this message "Note : You need to have 0777 permission to all folders of the project." As this is not a security best practise from server side.

[2019-02-15 18:46] vrkansagara commented on #348
@Fosphatic  I have also tested sqlite for the same but found same error which you are facing earlier. But if you still want to use sqlite than you have to configure database configuration manually, than and than it will work!

[2019-02-15 18:48] vrkansagara commented on #346
@sohailglt , I have tested on demo link but I didn't found any such issue . Kindly provide steps to reproduce it.

I have tested on this  [ demo link at  ] (https://apiway.in/admin/menus/1/edit) and it's working perfect.

[2019-02-15 18:52] vrkansagara commented on #350
@Amrgumaa  Would you mind to migrate:Fresh again and start server, And let us share more details if you find any issue.

[2019-02-15 22:05] Fosphatic commented on #348
@vrkansagara yeah it is working except the one error as wrote before. Thanks!

[2019-02-15 22:48] Amrgumaa commented on #350
thanks working perfectly

[2019-02-15 22:48] #350 closed

[2019-02-16 04:34] bvipul commented on #349
Yes we need to take care of this issue.

But for the permission note, it doesn't matter if the permission is required to be 777, as modules are supposed to be created only in development environment, and then make changes and then deploy to your server. So, the permission one is not an issue.

[2019-02-16 04:35] bvipul commented on #349
Although the space in name needs to be rectified, by camel case name or something like that. Suggestions are appreciated.

[2019-02-19 11:19] #346 closed

[2019-02-19 11:19] #342 closed

[2019-02-22 12:18] gunjanbacancy opened #351 "Menu problem when add new module"
Hi,
I have 2 Role 1) Master Admin 2) Super Admin. When I add a new module name with 'news management' and it shows in 'Master Admin' not show for other users (e.g. Super Admin). I checked 'news management' (e.g. News Management, News Create, Edit News etc. in 'Associated Permissions')  in 'User Management' and 'Role Management'.  But 'News management' show in master admin only not show in 'Super A

[2019-02-24 07:32] vrkansagara commented on #349
@bvipul  I am facing this issue of demo link because once space is inserted by module creator it break the application  flow as per expected result so , We are getting multiple  open issue for demo link.

[2019-02-24 17:29] bvipul commented on #349
Okay, I will look into the package for the issue. Will release a version soon

[2019-02-25 09:20] bvipul commented on #351
Hello @gunjanbacancy, you probably have added a permission name while adding the menu, which is available for "Master Admin" and not in "Super Admin".

[2019-02-25 10:42] Bilalgill95 opened #352 "not found"
Hi
"Class AbstractLogger is  not found"
Anyone please me !!

[2019-02-25 11:10] gunjanbacancy commented on #351
It's working now. Thanks

[2019-02-26 18:21] #348 closed

[2019-02-28 14:42] invaders-xx opened #353 "Laravel 5.8"
Hi all,

Are there any issues in upgrading to 5.8 ?

Many thanks in advance,

David.

[2019-02-28 15:38] vrkansagara commented on #352
@Bilalgill95  can you mark log = false into debugger.php file. It might help to you.

[2019-02-28 15:39] vrkansagara commented on #353
@indranshastri  This is in our next pip line so. We will update you on this.

[2019-02-28 15:44] viralsolani commented on #353
I'll upgrade the project in laravel 5.8 in next two weeks

[2019-02-28 15:45] #351 closed

[2019-03-01 06:51] invaders-xx commented on #353
great, many thanks,
Please let me know once done.

[2019-03-06 13:04] invaders-xx opened #354 "checkUserByEmail in App\Repositories\Backend\Access\User\UserRepository"
Dear guys,

I think you should add withTrashed() in the query as it give an error if email already exists and trashed

BR

David

[2019-03-06 13:06] invaders-xx commented on #354
and you should also add this test in the create function

[2019-03-06 13:10] ramkumawathis opened #355 "login with username or email"
Hi,
Am using this admin panel. Its too much help full . Please tell me how i can login with username or email.

[2019-03-06 13:38] VadimsTalapins opened #356 "Babel module build failed"
I cannot install after this command: npm run development
I have this errors
ERROR in ./resources/assets/js/backend/app.js
Module build failed: Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3".

ERROR in ./resources/assets/js/plugin/sweetalert/sweetalert.min.js
Module build failed: Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3".

ERROR in ./resources/assets/js/frontend

[2019-03-07 12:52] viralsolani commented on #355
@ramkumawathis as of now, we are allowing login through email. if you would like to login through username, this might be useful. https://laraveldaily.com/laravel-login-email-username-one-field/

[2019-03-07 12:54] viralsolani commented on #354
@invaders-xx I am planning to add Laravel dusk test cases, with that I'll check this as well.

[2019-03-07 12:55] viralsolani commented on #352
Please give us screenshot related to this. for now closing this issue.

[2019-03-07 12:55] #352 closed

[2019-03-07 12:56] viralsolani commented on #356
I am able to run npm run development. But I'll with node 11 once.

[2019-03-07 15:05] vedbhawsar opened #360 "Please Reset the Demo https://apiway.in/"
@viralsolani @bvipul  @vrkansagara
Can someone please reset the demo to initial state. Some who has access to https://apiway.in/ server.

[2019-03-07 17:33] bvipul commented on #355
I think this one, we should do in our panel. Nowadays, almost everyone requires login through email/username/phonenumber. We can atleast provide username support. This will require some changes in the database as well. And YAYYY!! some more tests.

I will take up this task.

Thanks @ramkumawathis for suggestion.

[2019-03-07 18:04] VadimsTalapins commented on #356
I'll try to do downgrade

[2019-03-08 04:40] ramkumawathis commented on #355
T

[2019-03-08 04:40] #355 closed

[2019-03-08 04:48] ramkumawathis commented on #355
Thanks @viralsolani  for your support.
I resolved my issue "login with username and email" with some changes.
Changes are
-> add new function in login controller
 protected function credentials(Request $request)
    {
        $field = filter_var($request->get($this->username()), FILTER_VALIDATE_EMAIL)
        ? $this->username()
        : 'username';

        return [
            $field => $reques

[2019-03-08 05:19] viralsolani commented on #355
@ramkumawathis Thanks.

@bvipul  perfect. go ahead then.

[2019-03-08 12:20] jobferrera commented on #88
Hello sir, i have a concern though the system is quite working for me very well, but when i created some modules and a user with the roles of the modules i created it doesn't  seem to work. The only thing that works fine are the modules which are default created by you. Thank you in advanced.

[2019-03-08 12:21] jobferrera opened #362 "Can't give roles to user"
Hello sir, i have a concern though the system is quite working for me very well, but when i created some modules and a user with the roles of the modules i created it doesn't seem to work. The only thing that works fine are the modules which are default created by you. Thank you in advanced.

[2019-03-08 12:38] bvipul commented on #362
okay, that's a bold statement. Let us look at that.
So, your scenario is that, when you assign module roles to a user, they don't see the assigned modules?

[2019-03-08 14:15] jobferrera commented on #362
yes sir, the default modules was the only modules can be added to the user except the one i created. Is there something to do with events?

[2019-03-08 14:16] jobferrera commented on #362
Thank you anyway for your quick response, i appreciate it.

[2019-03-08 14:46] bvipul commented on #362
No, there maybe something with the permissions, let us check it out

[2019-03-08 22:44] jobferrera commented on #362
Alright thank you so much

[2019-03-09 08:23] rvigneshmdu opened #363 "npm install problem"
![npm](https://user-images.githubusercontent.com/48316291/54068432-bd3b5d00-4272-11e9-8d31-02bddac91e02.png)

[2019-03-09 11:02] PrafullaKumarSahu opened #364 "Getting error for npm install command"
OS - Windows 10
PHP - 7.2.10

[code]

[2019-03-09 11:04] PrafullaKumarSahu commented on #364
Log

[code]

[2019-03-10 20:22] vrkansagara commented on #360
@vedbhawsar  done !

[2019-03-13 05:35] bvipul commented on #364
"This is a problem related to network connectivity"
Just extracted above line from your log. Maybe you are doing this at your work, and it has some kind of proxy enabled.

[2019-03-13 08:53] PrafullaKumarSahu commented on #364
@bvipul  I tried using 3 networks and got the same error in all and among them, one is a mobile connection.

[2019-03-13 10:24] viralsolani commented on #363
@rvigneshmdu Please give us some more information. check an additional log from npm logs.

[2019-03-14 10:47] maninest commented on #363
I also have the same issue, I put log below:

`5028 warn img-loader@3.0.0 requires a peer of imagemin@^5.0.0 but none is installed. You must install peer dependencies yourself.
5029 warn optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.4 (node_modules\fsevents):
5030 warn notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.4: wanted {"os":"darwin","arch":"any"} (current:

[2019-03-14 16:53] vrkansagara commented on #360
This is happening because of https://github.com/viralsolani/laravel-adminpanel/issues/349

[2019-03-15 08:13] anushamarasani opened #369 "Role Management index showing error"

[2019-03-15 08:17] anushamarasani commented on #369
![123](https://user-images.githubusercontent.com/35235703/54417676-e2274880-4728-11e9-8175-4650b574b467.PNG)

[2019-03-15 08:45] hijaumuda opened #370 "module generator does not create the same variable between EditResponse.php and edit.blade.php"
in EditResponse.php module generator always created variable end with "s" or "es" (according to table name created in the module generator).

but in edit.blade.php variable end without "s" or "es".

when i check at the faqs, it seems module generator create wrong variable name in EditResponse.php, It should be without the "s" or "es" suffix.

[2019-03-15 11:55] vedbhawsar commented on #349
@bvipul there is one more issue I noticed in module generator. When it creates the module, in view file the **reference object is in singular** but from the EditResponse.php file its pass as the plural name.

### **from EditResponse.php:**

       return view('backend.tests.edit')->with([
            'tests' => $this->tests
        ]);
### **in edit.blade.php:**

        Form::model($test, ['route

[2019-03-15 13:20] hijaumuda commented on #363
10 days ago i successfully installed, but now when i try to fresh install in different directory i got error.

1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'development' ]
2 info using npm@6.4.1
3 info using node@v10.15.1
4 verbose run-script [ 'predevelopment', 'develo

[2019-03-15 13:57] hijaumuda commented on #363
@rvigneshmdu @maninest @viralsolani
i check this commit [https://github.com/viralsolani/laravel-adminpanel/commit/edef02f2f67c2ff790b7037275f270588faea5d3#diff-b9cfc7f2cdf78a7f4b91a753d10865a2](url) /package.json
![vuewebpack](https://user-images.githubusercontent.com/8728222/54435843-f63c6b80-4763-11e9-8eb6-17a77bc369c4.png)
and i just back to previous version before commit (vue & webpack-rtl-plu

[2019-03-15 14:09] invaders-xx commented on #353
Hi Guys,

Any news ?

Many thanks in advance for your feedback.

[2019-03-16 08:19] henningerd commented on #353
I'm interested into it too.

[2019-03-16 08:22] viralsolani commented on #353
You guys can check develop branch for that. I have already upgrade it to laravel 5.8.

As of now qe are testing all the  things and planning to add laravel passport and dusk test cases with this release.

[2019-03-16 13:14] ankit-makadiya opened #371 "How to import database in my phpmyadmin"
Can you provide me database or guide me how can I import the database into my phpmyadmin for your admin panel

[2019-03-16 13:29] #371 closed

[2019-03-16 13:29] ankit-makadiya commented on #371
Oops I forget run this commad : php artisan migrate

[2019-03-17 01:29] Aleintel opened #372 "SEO does not work"
Hello,
SEO does not work,
how can i implement / fix?

Thanks

[2019-03-18 01:35] satyamraz commented on #325
Error when running run server in webpackconfig

[2019-03-20 10:25] vaghela943 opened #374 "Vue Package Issue"
I have setup all the things. but it show me errors as below.

`Error: Module build failed: Error:

Vue packages version mismatch:

- vue@2.6.8
- vue-template-compiler@2.5.17

This may cause things to work incorrectly. Make sure to use the same version for both.
If you are using vue-loader@>=10.0, simply update vue-template-compiler.
If you are using vue-loader@<10.0 or vueify, re-installing vue-lo

[2019-03-20 11:01] ramkumawathis commented on #363
Am also getting error for new setup
Error
$ npm install

'.' is not recognized as an internal or external command,
operable program or batch file.
npm WARN ajv-keywords@3.2.0 requires a peer of ajv@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN img-loader@3.0.0 requires a peer of imagemin@^5.0.0 but none is installed. You must install peer dependencies yourself

[2019-03-20 11:55] bvipul commented on #369
Can you please post the javascript and TableController code, it might be an issue in those files

[2019-03-20 11:56] bvipul commented on #370
Thanks, for pointing that out, I will see if that's actually the issue and fix it. Thanks again @hijaumuda

[2019-03-23 06:31] bvipul commented on #363
Thanks @hijaumuda, your solution works, I will add a PR for this. @ramkumawathis you can also try this.

[2019-03-23 13:55] bvipul commented on #374
Fixed in #375

[2019-03-23 13:55] #374 closed

[2019-03-23 13:55] bvipul commented on #363
Fixed in #375

[2019-03-23 13:55] #363 closed

[2019-03-25 07:16] viralsolani commented on #372
Can you elaborate? what do you mean by SEO is not working?

[2019-03-25 11:34] Aleintel commented on #372
When I create a new page, I enter the title and all the information.
In the textarea SEO Title, SEO description ... when I enter the values, these I visualize them in the column of the database, and here everything is fine!

When I visualize the page that I have created, I don't see the meta, keywords and description .. How should I do to visualize them correctly

In app.balde.php I have:

       

[2019-03-25 11:35] Aleintel commented on #372
When I create a new page, I enter the title and all the information.
In the textarea SEO Title, SEO description ... when I enter the values, these I visualize them in the column of the database, and here everything is fine!

When I visualize the page that I have created, I don't see the meta, keywords and description .. How should I do to visualize them correctly

In app.balde.php I have:

[code]

[2019-03-26 07:27] Gautam-Patel opened #376 "Vue version miss-match"
error  in ./resources/assets/js/components/Flash.vue
Module build failed
vue@2.6..8
vue-template-compiler@2.5.17

[2019-03-26 07:29] bvipul commented on #376
Please see #375

[2019-03-27 09:51] chrizz1001 commented on #376
Hi, the fix #375 does not fix this for me. I tried to completely reinstall all node modules with the fix but still the same issue. I also tried complete fresh installation. Same issue...

[2019-03-30 06:16] kocuubirasap opened #377 "invalid JSON response"
DataTables warning: table id=modules-table - Invalid JSON response. For more information about this error, please see http://datatables.net/tn/1

[2019-04-01 05:25] bvipul commented on #370
This bug is fixed in develop branch and will be released soon.

[2019-04-01 05:25] #370 closed

[2019-04-01 05:29] bvipul commented on #369
@anushamarasani Did you add of modify any roles, can you please tell what lead to this issue ?

[2019-04-02 14:09] viralsolani commented on #377
it is resolved now. Please take the latest pull of master branch.

[2019-04-02 14:10] viralsolani commented on #372
ok, I'll fix it asap. Thanks for raising this issue.

[2019-04-02 14:10] viralsolani commented on #369
Error resolved.

[2019-04-02 14:10] #369 closed

[2019-04-02 14:11] viralsolani commented on #364
I've just pushed the latest changes. please check once again and let us know if issue still persists

[2019-04-02 14:11] #364 closed

[2019-04-02 14:12] viralsolani commented on #349
@vrkansagara  Take the latest pull of master branch in the demo. it will fix the issue now.

[2019-04-02 14:12] #349 closed

[2019-04-02 14:13] #360 closed

[2019-04-02 14:13] viralsolani commented on #356
any update. please re-open the issue if the issue still persists.

[2019-04-02 14:13] #356 closed

[2019-04-02 14:15] viralsolani commented on #353
the master branch is updated now with Laravel 5.8.

[2019-04-02 14:15] #353 closed

[2019-04-02 14:15] #377 closed

[2019-04-02 14:19] Aleintel commented on #372
I am waiting for your feedback.
thanks a lot

Aleintel

[2019-04-02 15:18] kocuubirasap commented on #377
ok, thanks brother

[2019-04-02 15:44] kocuubirasap opened #381 "invalid upload request"
can't upload file use filemanager and error with invalid upload request

[2019-04-03 12:09] invaders-xx commented on #353
Hi Guys,

Many thanks for your feedback. I did many developments on top of yours. Is there any easy way to update my local repo without loosing or crashing what I did ? Sorry but I am not familiar with git.

Many thanks in advance for your help.

[2019-04-06 08:15] ramkumawathis commented on #227
Plz help me. Am unable to npm install .
![image](https://user-images.githubusercontent.com/47517673/55666853-f4049300-5871-11e9-9bcd-6add475a2da6.png)
Am try many time but at each time so error in npm install command run.
am follow these command.

[2019-04-08 20:38] naninmartins opened #382 "CamelCase when create double name in Module Section"
When I create a new module with two names the files generated can't reproduce CamelCase ie:
Directory Name: CarCategories
Model Name: CarCategory
I assume to have names like :
App\Http\Controllers\CarCategor**ies**\Car**C**ategoriesController.php
But instead I had:
App\Http\Controllers\CarCategor**y**\Car**c**ategoriesController.php

[2019-04-13 05:12] msspiritgit opened #385 "Login issue with new created user"
Hi,

We have created a user from admin panel but user not login through front end and backend, showing wrong credentials.

There is password issue, login system working only with the three user created by you in repository. New created user can't login please reply me as soon as possible.

Thanks
Mukesh

[2019-04-14 14:38] msspiritgit commented on #385
Hi team,

No need to reply on this, I have resolved this issue myself.

Thanks

[2019-04-17 13:08] #385 closed

[2019-04-17 13:10] bvipul commented on #382
This might be because of the latest changes pushed in the generator package. I will have a look. Thanks @naninmartins .

[2019-04-17 13:16] bvipul commented on #381
can you please check if you are uploading a file too large...

[2019-04-17 13:45] kocuubirasap commented on #381
My image only 62 kb sir

On Wed, Apr 17, 2019, 8:16 PM Vipul Basapati <notifications@github.com>
wrote:

[2019-04-18 05:04] viralsolani commented on #381
@kocuubirasap ok, we will look into this.

[2019-04-18 05:06] viralsolani commented on #376
can you guys tell me your node version?

[2019-04-19 11:04] viralsolani commented on #376
the issue is fixed now. Please run _npm cache clear --force_.

[2019-04-19 11:04] #376 closed

[2019-04-22 07:47] anantajitjg commented on #385
@bvipul
This issue still exists within the app.

There is no need to use the bcrypt method. If you use that function hashing will occur twice.

Please [refer here](https://github.com/rappasoft/laravel-5-boilerplate/blob/master/app/Repositories/Backend/Auth/UserRepository.php#L186).

[2019-04-26 08:28] Parkbyounghyo opened #388 "composer install error"
composer -v
Composer version 1.8.4 2019-02-11 10:52:10

composer install

Generating optimized autoload files

In EncryptionServiceProvider.php line 44:

  No application encryption key has been specified.

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1

[2019-04-26 11:55] pankaj-snow opened #389 "Composer install error and view flash message error"

[2019-04-27 07:27] johnny7707 opened #390 "Fatal error: Class 'Arcanedev\LogViewer\Contracts\Utilities\Filesystem' not found"
Fatal error: Class 'Arcanedev\LogViewer\Contracts\Utilities\Filesystem' not found in C:\xampp\htdocs\adminpanel\config\log-viewer.php on line 17

[2019-04-29 01:42] ZWindL commented on #388
same error here, and I tried to execute commands manually, didn't work either.

[2019-05-11 10:07] manishpanchal commented on #388
In EncryptionServiceProvider.php line 44:

  No application encryption key has been specified.

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1

[2019-05-11 10:07] manishpanchal commented on #388
can u solve this ??

[2019-05-11 14:35] rajeshdk opened #393 "Not able to login with new users"
Hi,
First, thank you so much for this great opensource boilerplate.
Login is working perfectly with default demo users but when I create a new user (by registration or using admin panel ) login always redirect to the login system (I am using XAMPP and Chrome)
Please suggest any solution?
Regards

[2019-05-11 14:44] #393 closed

[2019-05-12 10:43] erparthqa opened #394 "Delete not working"
I have created new module as contact and trying to delete but it’s showing me details instead of deleting records.
Same issue occurred in all others module which default in admin

[2019-05-12 10:45] erparthqa opened #395 "Show Details"
Is there any way to add default permission as show with module as currently it’s have vide, delete and edit now one more need to add as show details

[2019-05-12 16:59] karneaud opened #396 "Module on/ off"
Can one disable/ remove and enable modules?

[2019-05-13 05:49] tpw1314 opened #397 "Language option and Logout button invisible"
Issue description : Language option (French in this case) and Logout button is blank due to the text color being white in Responsive Mode/iOS screen and actual iPhone.
Screenshots:
![image](https://user-images.githubusercontent.com/20537849/57598356-7b39da80-7585-11e9-92be-35f2339be1c5.png)
![image](https://user-images.githubusercontent.com/20537849/57598375-8c82e700-7585-11e9-8f2f-581e7f3f4a1c.pn

[2019-05-14 02:17] sathiyaraj1989 opened #398 "Permission is not working"
Still we could see the menu(FAQ) displaying in sidebar after removing the permission for executive role in Access Management->Role Management.

Do I need to run anything behind, after removing permission for any menus from Access Management->Role Management?

[2019-05-14 06:21] paragonsoftwaresolutions commented on #385
Mind sharing how you resolved this?

[2019-05-16 15:17] sathiyaraj1989 commented on #398
Any updates on this issue ?

[2019-05-23 11:05] rvmohan opened #399 "[Vue warn]: Failed to mount component: template or render function not defined"
Hi

I'm not able to register from frontend, its not showing any error as well. I got the error "[Vue warn]: Failed to mount component: template or render function not defined"  from the console. Could you please help me to solve.

Thanks.

[2019-05-28 10:14] RohanMhz commented on #396
yea can we remove any modules? i tried it but gives alot of errors

[2019-05-28 10:17] RohanMhz opened #400 "Related to modules"
I wanna delete a module that i created but don't know how. or is it even possible to delete any modules or not

[2019-05-30 13:37] viralsolani commented on #400
No, we have given feature to delete the module that is created.

[2019-05-30 13:37] #400 closed

[2019-05-30 13:39] viralsolani commented on #396
No, we can not disable or remove modules as of now.

[2019-05-30 13:39] #396 closed

[2019-05-30 13:42] viralsolani commented on #389
Please provide some screenshot so it will help us to identify errors. also, let us know your PHP version, please.

[2019-05-31 07:06] navdeep1186 commented on #308
hi @viralsolani @bvipul
will you tell me how I increase the sessoin time out? because after few minutes it is signout by default

[2019-06-02 13:45] Gautam-Patel opened #402 "npm ERR! code ELIFECYCLE"
Run application in windows and install npm error found npm ERR! code ELIFECYCLE.

[2019-06-02 16:33] mattfletcher opened #403 "Cannot login"
Logged in successfully to a fresh install with admin@admin.com:1234

Set up a new Administrator user with my own email address

Log out

Log in as new user

Redirected back to empty log in form

No errors in storage/logs/laravel.log

Tried migrate:fresh and db:seed, and recreating new user. No difference.

If I do a forgotten password, following the link in the email and resetting password WILL lo

[2019-06-05 14:50] marcusAutoSquared commented on #403
This was caused for me by the password being hashed twice when creating a new user or updating a password, once  in

and again in

I've fixed this by changing `$user->password = bcrypt($input['password']);` to `$user->password = $input['password'];` in both createUserStub and updatePassword. The password in the database is still hashed and secure, a logging in now works fine.

[2019-06-10 08:08] RohanMhz opened #404 "Need help creating events"
I want to create an event for created, updated and deleted package action.
but it shows error as:
An invalid history type was supplied: Package

Is there something that I forgot to do? help me, please

[2019-06-10 09:55] bvipul commented on #404
You need to add an entry for 'Package' in your historyType table

[2019-06-10 10:31] RohanMhz commented on #404
I already did that. anything else???

[2019-06-10 13:25] vidhyut-pandya commented on #403
Fixed this issue and currently merged in develop branch. closing this issue. Let us know if the issue still persists.

[2019-06-10 13:25] #403 closed

[2019-06-10 14:32] vidhyut-pandya commented on #372
@Aleintel This issue is fixed. You can take a pull from the develop branch.
Also, just FYI, you can have your own meta tags, just put your meta tags in any blade file which is extending the `app` layout and put them inside the `meta` section.

For example:

`@section('meta') `
` // your meta tags`
`@endsection`

[2019-06-10 14:32] #372 closed

[2019-06-11 04:30] RohanMhz commented on #404
oh i forgot to add it in the table. thanks for the help tho

[2019-06-11 04:30] #404 closed

[2019-06-11 06:38] vidhyut-pandya commented on #390
@johnny7707  Provide some screenshots or steps to reproduce.

[2019-06-11 08:16] Aleintel commented on #372
Thank you very much!
How can I do a pull from the develop branch?
Can you explain me please?

Thank you.

[2019-06-12 04:42] RohanMhz opened #407 "working with slug"
What do changes do I have to do in order to use the slug??
and how do I use the findBySlug method in new controllers?

[2019-06-12 07:18] #407 closed

[2019-06-17 16:42] peterquentin commented on #349
[Demo](https://laravel-adminpanel.vrkansagara.in/) (the one from README.md) is broken again.

[2019-06-17 16:58] vrkansagara commented on #349
I will it and let you know.

On Mon, 17 Jun, 2019, 10:12 PM Peter Quentin, <notifications@github.com>
wrote:

[2019-06-18 01:49] LincolnTK opened #408 "Cannot declare class CreatePasswordResetsTable, because the name is already in use"
Cannot declare class CreatePasswordResetsTable, because the name is already in use
![image](https://user-images.githubusercontent.com/51019232/59647580-0ce7c980-917c-11e9-9dc4-350a2710b350.png)

[2019-06-18 02:22] #408 closed

[2019-06-18 02:25] LincolnTK opened #409 "Route [frontend.auth.login] not defined."
![image](https://user-images.githubusercontent.com/51019232/59648969-23445400-9181-11e9-9510-4b4a7d00051e.png)

[2019-06-19 12:46] viralsolani commented on #381
I am able to upload the image. can you please give us error screenshot, please?

[2019-06-19 12:46] vidhyut-pandya commented on #394
@erparthqa If possible, provide more details as we are not able to re-produce this issue.

[2019-06-19 13:13] vidhyut-pandya commented on #409
@LincolnTK  Have you made any changes in nav file or in your routes file? It seems to be working on our side. Do run `php artisan config:cahe` from terminal and check again.

[2019-06-19 13:50] vidhyut-pandya commented on #354
@invaders-xx  Your suggestion is implemented. Thanks.

[2019-06-19 13:50] #354 closed

[2019-06-19 13:57] vidhyut-pandya commented on #398
@sathiyaraj1989  It seems to be working fine on our side. Provide more details if possible.

[2019-06-19 13:57] #398 closed

[2019-06-20 06:57] vidhyut-pandya commented on #395
@erparthqa  You can set your own permission. As of now, we are not planning to add this permission as default.

[2019-06-20 06:57] #395 closed

[2019-06-20 07:00] vidhyut-pandya commented on #390
Closing this issue as not reproducible. @johnny7707  do re-open the issue if you are still facing it,

[2019-06-20 07:00] #390 closed

[2019-06-20 10:46] RohanBee opened #412 "Blank update page"
i changed the source code of text field which was using TinyMce and updated it, after that i cant view the update page for the specific edited data. other data's update page shows up but the one i had changed shows up for a split second and goes blank.
And addition to that the data that i previous unwanted data that i had changed still shows up and i have already cleared the cache closed all the a

[2019-06-21 06:52] #412 closed

[2019-06-24 05:38] collohdicey opened #413 "Fatal error: require"
![image](https://user-images.githubusercontent.com/36438012/59994065-2ba5fe80-965b-11e9-84ca-2a1b159e179a.png)
i keep getting this error: Fatal error: require(): Failed opening required 'C:\Users\Social Media\laravel-adminpanel\bootstrap/../vendor/autoload.php' (include_path='C:\xampp
\php\PEAR') in C:\Users\Social Media\laravel-adminpanel\bootstrap\autoload.php on line 17.

kindly assist.

[2019-06-25 04:18] thomasgit123 commented on #388
@manishpanchal , if you try to add APP_KEY(should be base64 format or key from other laravel project env) on .env file and try to run php artisan key:generate, it will generate new key and works fine

[2019-06-26 07:46] ashutosh2801 opened #414 "Removing public form url"
When we remove public from url, data does not show in backend or does not register record from frontend.

http://localhost/laravel-adminpanel/public/admin/dashboard - it is working fine
http://localhost/laravel-adminpanel/admin/dashboard - record does not show

Please help

[2019-06-26 11:23] viralsolani commented on #414
@ashutosh2801 you need to create the virtual host or run

 from your root folder.

[2019-06-26 11:23] #414 closed

[2019-06-26 11:31] bvipul commented on #413
This is nothing related to out package, your PHP installation might not be correct. Please try installing laravel basic installation on your machine, then install this package.

[2019-06-27 12:30] vidhyut-pandya commented on #381
@kocuubirasap  It seems to be working fine on our side. If you are still facing the issue, do reopen the the same. Closing for now.

[2019-06-27 12:30] #381 closed

[2019-07-04 07:14] RohanBee opened #416 "Custom folder name"
How to change the folder name to what I want?.

[2019-07-04 11:16] #416 closed

[2019-07-05 10:52] #409 closed

[2019-07-08 09:43] khajahcode commented on #389
same problem here , will share screen shot

[2019-07-08 09:45] khajahcode commented on #389
![Screen Shot 2019-07-08 at 12 44 32 PM](https://user-images.githubusercontent.com/20269708/60800638-3776e200-a17e-11e9-8fa9-ed534ca468c0.png)

[2019-07-09 06:20] #413 closed

[2019-07-10 02:59] baduypaltalk opened #420 "Index View - Export All Rows"
Hi, @bvipul  @viralsolani

Could you please tell me how to export all rows on index views of a generated module.

![image](https://user-images.githubusercontent.com/8188362/60937027-4b931e80-a2f9-11e9-9cb6-d0b27f2074f1.png)

Thanks

[2019-07-10 03:01] baduypaltalk commented on #420
I saw the Datatable documents and apply this code, but it does not change.

![image](https://user-images.githubusercontent.com/8188362/60937186-b04e7900-a2f9-11e9-8db2-9bfcf0892bde.png)

[2019-07-18 15:24] commentatorboy commented on #388
Just write f.x. this in the APP_KEY in the .env file:
`base64:uOgWdZUJhtOScNZ5n+4FWN0gchPHCQP3NVEs4S+wzDo=`

[2019-07-18 16:02] bvipul commented on #388
No need to add this ... Just run key:generate it will generate that key

[2019-07-18 16:08] commentatorboy commented on #388
Really? Weird. Because when I tried to run that, it would still say the same error. It only works when I add a key.

[2019-07-31 12:31] tpw1314 commented on #397
hi all, anyone looking into this issue ?

[2019-08-05 08:34] himmat007 opened #421 "when http://localhost/legacymine/adminpanel/public/ then SQLSTATE[42S02]: Base table or view not found: 1146 Table 'lgmine.settings' doesn't exist (SQL: select * from `settings` limit 1)"

[2019-08-06 09:22] himmat007 opened #422 "Expected response code 250 but got code "530", with message "530 5.7.1 Authentication required " when new register then i found issue"

[2019-08-12 13:43] testusermango opened #423 "Getting error autoload.php file not found"
Unable to run php artisian command, getting error autoload.php file not found

[2019-08-15 15:05] joelderrickclad commented on #402
I added **"C:\Windows\System32"** path to environment variable list and restarted the machine. It worked for me.

Please refer this [link ](https://stackoverflow.com/a/57511535/5352831)

[2019-08-19 08:51] ipeyato commented on #423
does your APP_KEY at .env file empty?

[2019-08-20 06:29] hemantshekhawat commented on #388
This one worked !

[2019-08-22 15:50] jjmontalban commented on #336
What value must be in APP_URL in .env?

I tried with:

APP_URL=http://localhost

APP_URL=http://localhost/nameapp

and

APP_URL=http://localhost/nameapp/public

My app is in localhost/nameapp/public

Css works but icons not showed like @tickleTest

[2019-08-24 18:30] Gautam-Patel opened #443 "ERROR: for laravel-adminpanel_mysql_1_5739fe9a3285 Cannot start service mysql: driver failed programming external connectivity on endpoint laravel-adminpanel_mysql_1_5739fe9a3285"
* docker-compose up --build it is given error can not start service mysql.

[2019-08-24 18:31] Gautam-Patel commented on #443
When deploying with docker application it's take too much time.

[2019-08-29 12:04] viralsolani commented on #443
@Gautam-Patel Dockerize this project is still in progress. I'll fix all the bugs in the future.  you can always give a PR in develop branch if you would like to thanks.

[2019-08-29 12:04] #443 closed

[2019-08-29 12:05] viralsolani commented on #423
Yes, that should be the case. please check once and feel free to open the issue again if it is not resolved.

[2019-08-29 12:05] #423 closed

[2019-08-29 12:05] #388 closed

[2019-08-29 12:06] viralsolani commented on #389
@khajahcode Please take the latest pull and check once again. it should fix the error.

[2019-08-29 12:06] #389 closed

[2019-08-29 12:07] viralsolani commented on #421
Run php artisan migrate and then php artisan db:seed. it should solve this error.

[2019-08-29 12:07] #421 closed

[2019-08-29 12:07] viralsolani commented on #402
Check the latest pull of master branch and it should work.

[2019-08-29 12:07] #402 closed

[2019-08-29 12:09] viralsolani commented on #399
Please check now. it is working.

[2019-08-29 12:09] #399 closed

[2019-08-29 17:58] justin22 commented on #362
A similar case (may be same - User permission sync problem).
1. Created a new module.
2. Assigned new module permission to **user role** in roles management
3. But the users with **user role**  doesn't have the new module permission.

[2019-08-31 16:36] bvipul commented on #382
Fixed the bug in generator package in v5.8.2 of bvipul/generator. #449

[2019-08-31 16:36] #382 closed

[2019-09-03 04:13] vrkansagara commented on #422
@himmat007  Can you bit explain with step by step. You can use demo link for reproduce of this issue.

[2019-09-08 14:43] sukhwinderkaur1389 opened #455 "View not found issue"
"The Mix manifest does not exist. (View: /home/si3qbnjvhf89/public_html/resources/views/frontend/layouts/app.blade.php) (View: /home/si3qbnjvhf89/public_html/resources/views/frontend/layouts/app.blade.php) ◀"

[2019-09-08 14:55] bvipul commented on #455
This is a duplicate issue, you should first search the issue in the repository issues list.  You will find the solution there.

[2019-09-08 14:57] #455 closed

[2019-09-08 14:57] sukhwinderkaur1389 commented on #455
Please provide me a solution , I am not getting in issues

[2019-09-08 14:59] bvipul commented on #455
You are getting issue in running the `npm run dev` command, please follow strictly the readme file. And please check if you are getting errors in the above command.

[2019-09-08 15:00] sukhwinderkaur1389 commented on #455
Hi,
Please give the solution , I am not getting the  issue.

On Sun, Sep 8, 2019 at 8:25 PM Vipul Basapati <notifications@github.com>
wrote:

[2019-09-08 15:10] bvipul commented on #455
Is `npm run dev` command giving any errors?

[2019-09-08 15:38] sukhwinderkaur1389 commented on #455
I haven't run this , why we need this? as its laravel App application.

[2019-09-08 15:59] sukhwinderkaur1389 commented on #455
[image: image.png]
Login will look like this?
No like : http://demo.joshadmin.com/admin/signin

On Sun, Sep 8, 2019 at 8:40 PM Vipul Basapati <notifications@github.com>
wrote:

[2019-09-08 16:06] bvipul commented on #455
This just states that you haven't followed readme.. please follow it, each step is important

[2019-09-08 16:09] sukhwinderkaur1389 commented on #455
Please share link.

On Sun, Sep 8, 2019 at 9:36 PM Vipul Basapati <notifications@github.com>
wrote:

[2019-09-08 16:26] sukhwinderkaur1389 commented on #455
Hi,
I have cpanel and I can't run npm command. and other solution?

On Sun, Sep 8, 2019 at 9:36 PM Vipul Basapati <notifications@github.com>
wrote:

[2019-09-08 17:09] bvipul commented on #455
Sorry, no other solution, you can try installing nvm

[2019-09-13 05:39] RohanBee opened #460 "Menu items when log in by executive user"
I need to display the custom module's menu items when loggin in with executive user. I have already set up the roles and updated the executive user with permission to handle all the required actions of my models but they are not being displayed in the menu items. The access management, faq, blog, and settings (pre-defined ones) are being displayed tho.

[2019-09-17 16:45] boedyirh commented on #336
Experience the same error

[2019-09-18 17:56] AshwinPitroda opened #463 "Tiny MCE not working"
Tiny MCE editor is not working. I checked recent commits and i found that Tiny MCE library  is updated with version 5.  I also checked change log in tinyMCE and found that they removed modern theme in latest version and now only one theme is available that is silver.
In this repo i checked still modern theme is used in admin.js and frontend.js. So, It's not finding modern theme and Tiny MCE not wo

[2019-09-25 07:47] LebToki opened #467 "any plans or 6.0+ love here ?"
would be nice

[2019-09-26 06:47] viralsolani commented on #467
Yes, we will upgrade to Laravel 6.0 in October.

[2019-09-26 06:47] viralsolani commented on #463
ok thanks, @AshwinPitroda I'll look into it.

[2019-09-29 15:15] agungasmara commented on #463
Hi, tiny MCE still not working

[2019-09-30 20:36] mohamed4shim opened #472 "textarea appear as empty"
![image](https://user-images.githubusercontent.com/5725759/65914944-ab6a0480-e3d2-11e9-8b80-952591a4dc7c.png)

how i can show tinymyce editor

[2019-09-30 20:45] mohamed4shim opened #473 "export button doesn't appear"
who i can appear header export buttons
@if(Active::checkUriPattern('admin/faqs'))
    <export-component></export-component>
@endif
doesn't appear buttons

[2019-10-01 05:37] krguptaa commented on #472
I've fix this issue. check the develop branch once pull request is merged. you just need to change the theme of tinymce from modern to silver as it is not available in latest version.

[2019-10-01 05:46] krguptaa commented on #463
I've fixed this issue. check the develop branch once pull request is merged. you just need to change the theme of tinymce from modern to silver as it is not available in latest version.

[2019-10-01 06:51] viralsolani commented on #472
Resolved.

[2019-10-01 06:51] #472 closed

[2019-10-01 06:51] viralsolani commented on #463
Resolved.

[2019-10-01 06:51] #463 closed

[2019-10-01 06:52] krguptaa commented on #473
Hello @mohamed4shim,

We fixed the issue. Kindly take the pull of develop branch.

[2019-10-01 12:23] bayubimantarar commented on #397
Let me try to fix this issues please.

[2019-10-01 15:08] mohamed4shim opened #480 "textarea doesn't show text"
![image](https://user-images.githubusercontent.com/5725759/65974893-0a308c00-e46e-11e9-8729-9f327312f4fa.png)
unable to add any content to textarea
how i can show textarea text editor?
thanks

[2019-10-01 15:12] mohamed4shim commented on #473
thanks for your replay
but can you send me the url of the working verision?

[2019-10-01 15:42] #480 closed

[2019-10-02 06:03] krguptaa commented on #473
@mohamed4shim you can try on demo URL (https://laravel-adminpanel.vrkansagara.in/) which is available in Readme.

[2019-10-02 06:53] krguptaa commented on #394
@erparthqa Delete is working fine with new created module as well as existing module. Can you please describe little bit more about your issue.

[2019-10-02 09:57] krguptaa commented on #362
@jobferrera @justin22 For assigning the module permission to particular user. you need to edit that user and need to update the permission then it affect to particular user. If you add the module permission to role then it only for roles not to existing user.

[2019-10-03 05:34] krguptaa commented on #420
@baduypaltalk You need to add  "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]] in Datatable and select all option from page length dropdown and then export.

[2019-10-04 05:42] #362 closed

[2019-10-04 05:43] viralsolani commented on #394
@erparthqa Please check once. this issue has been resolved.

[2019-10-04 05:43] #394 closed

[2019-10-04 05:44] viralsolani commented on #467
@LebToki you can check laravel_6.0 branch. we are working on it as of now. Soon we will release the laravel 6.0 version.

[2019-10-04 05:44] #467 closed

[2019-10-04 05:44] #473 closed

[2019-10-04 05:45] #420 closed

[2019-10-04 05:45] #397 closed

[2019-10-05 18:03] mohamed4shim opened #492 "email template not found"
email template module not found in version laravel 5.8
how i can copy it form the old version?

[2019-10-08 04:55] viralsolani commented on #492
We have removed the email template. you can download the Email Template module from the older release.

[2019-10-08 04:55] #492 closed

[2019-10-09 17:25] dukeappss opened #498 "Unable to install on our computer"
I tried ti install this on our local server through the instruction you shard. But i am not able to install. please share me steps.
![lv2](https://user-images.githubusercontent.com/56361574/66504916-e01f3f80-eae7-11e9-8f2c-3500444932e4.png)
![lv](https://user-images.githubusercontent.com/56361574/66504917-e0b7d600-eae7-11e9-8f4e-1a4c0999e086.png)

[2019-10-10 05:01] viralsolani commented on #498
it seems that you have not run composer install. please run manually all the steps.

[2019-10-10 05:01] #498 closed

[2019-10-23 09:12] mfcRogue opened #515 "Class 'Krgupta\Active\ActiveServiceProvider' not found"
On attempt to run through the installation

both composer install and php artisan install:app

show the following error

In ProviderRepository.php line 208:

  Class 'Krgupta\Active\ActiveServiceProvider' not found

Attempting to load the site shows :

Target [Spatie\Cors\CorsProfile\CorsProfile] is not instantiable while building [Spatie\Cors\Cors].

[2019-10-23 10:01] krguptaa commented on #515
We are checking. Thanks @mfcRogue Will update you asap.

[2019-10-23 10:18] krguptaa commented on #515
@mfcRogue  We fixed the issue. Please take the latest code from repository and again try to install. It will work.

Kindly let us know if any query or concern.

Thank you.

[2019-10-23 10:44] #515 closed

[2019-10-29 17:43] alexsantm2019 opened #524 "Question about CRUD Generate"
To create a new CRUD (forms, Controller, etc) I built a new table with some fields, but when I generate "module", this was created without the fields I built. My question is, May I have to create manually the fields in each form, and configurate Models, Repositories etc??

Thanks in advanced

[2019-10-29 22:04] salomon16 opened #525 "No application encryption key has been specified"
I got No application encryption key has been specified when running composer install

[2019-10-30 07:00] bvipul commented on #524
Currently the Generator module only creates a scaffolding of files and folders for you, it does not integrate with external data. You will have to write fields in each form and configure model with relationships and other attributes(if necessary). All the code to insert/retrieve has been written for convenience.

[2019-10-30 07:00] #524 closed

[2019-10-30 07:01] bvipul commented on #525
please do, `php artisan key:generate` before running `composer install`

[2019-10-30 07:01] #525 closed

[2019-10-30 13:24] rajamid opened #528 "when creating New modules"
Symfony\Component\Debug\Exception\FatalThrowableError
Call to undefined function Bvipul\Generator\Repositories\title_case()

when creating modules

[2019-10-30 15:37] salomon16 commented on #525
Thank you for reply, when i run php artisan key:generate, it's show failed to open stream: No such file or directory in bootstrap\autoload.php on line 17

[2019-10-31 10:00] krguptaa commented on #528
Thanks @rajamid. We will check and update you asap.

[2019-11-01 10:23] mahavir795 opened #530 "how to change my profile image"

[2019-11-04 04:33] jbernier opened #531 "IE11 Doesn't display some controls"
Hi,

Installed the demo. When using IE11 to test it there is few controls that doesn't show (checkbox,radio, etc).

Is this admin compatible with IE11 ? Edge and Chrome working fine.

[2019-11-07 23:27] minutmorph commented on #528
any progress on this? thanks

[2019-11-08 15:22] louisjjs commented on #528
Me too getting the same error. A fix for this would help test the package.

[2019-11-09 21:17] georgechitechi commented on #528
Same here, Any Help
Symfony\Component\Debug\Exception\FatalThrowableError
Call to undefined function Bvipul\Generator\Repositories\title_case()

[2019-11-09 21:57] georgechitechi opened #538 "Error Adding User"
Unable to save User Due to Attached Error. Any Clues Where the code broke?

![capture_20191110015405](https://user-images.githubusercontent.com/52364198/68535536-50c2b180-035d-11ea-81bc-803a8ca91997.png)

[2019-11-12 04:28] louisjjs commented on #528
The "title_case()  " error is gone now, but getting the following error now
"Use of undefined constant STDOUT - assumed 'STDOUT' (this will throw an Error in a future version of PHP) "

[2019-11-13 09:30] xuandung38 commented on #528
https://github.com/bvipul/generator/pull/9
Check this

[2019-11-13 11:06] krguptaa commented on #530
Hello @mahavir795 ,

Right now, we don't have any option, We will add in future. It's in our pipeline.

Thanks

[2019-11-14 08:58] suhailkc commented on #525
I have the same issue. Is there any solution???

[2019-11-14 14:22] viralsolani commented on #538
ok, we will look into it asap.

[2019-11-14 14:23] #530 closed

[2019-11-14 14:38] louisjjs commented on #528
Thanks Xuan, that fixed the issue for me.

[2019-11-15 06:18] krguptaa commented on #538
Hi @georgechitechi ,

Thanks for letting us know. We have fixed the issue. Kindly get the pull of latest code and try again.

[2019-11-15 06:29] krguptaa commented on #531
Hi @jbernier ,

Thanks for letting us know. We will looking into this in new release.

[2019-11-15 17:22] noahheck commented on #349
I don't know if this got fixed, but it is not working at this time.

[2019-11-15 18:44] georgechitechi commented on #538
Thanks @krguptaa. It's fine now

[2019-11-16 01:32] vrkansagara commented on #349
@noahheck  and @peterquentin , Link is working. Please check.

[2019-11-16 03:09] noahheck commented on #349
@vrkansagara The link is working now. Thanks!

[2019-11-21 15:35] alexsantm2019 commented on #528
How did you fix?? I have the same issue and I can not solve please.

[2019-11-22 04:33] bvipul commented on #528
@viralsolani please change the composer.json for v6 of generator, so this issue can be closed.

[2019-11-25 14:48] krguptaa commented on #528
Thanks @bvipul We have created the PR (https://github.com/viralsolani/laravel-adminpanel/pull/554).

[2019-11-27 17:20] #538 closed

[2019-11-27 17:46] krguptaa commented on #528
@alexsantm2019 Fixed this issue. Thanks.

[2019-11-27 17:46] #528 closed

[2019-12-04 23:47] izoj2013 opened #570 "Laravel 6"
Wanted to know if your adminpanel is already compatible with laravel 6. Alternatively, what is the process of upgrading an existing project such as your demo project (laravel-adminpanel) to working with laravel 6.x?

Rgds.-

[2019-12-06 05:17] krguptaa commented on #570
Hello @izoj2013 ,

Yes. This adminpanel is compatible with Laravel 6.0.

You have two options for upgrading Laravel 6.x
1. Using Laravel shift (https://laravelshift.com/). It is paid but it will upgrade your system fast and easy way. just need to change the configuration

2. Using Manual, You need do manually by changing the laravel/framework dependency to 6.* in your composer.json file version. P

[2019-12-06 05:19] krguptaa commented on #422
We are closing this ticket. We are not able to reproduce. Please update us if you find any thing. We will reopen.

[2019-12-06 05:19] #422 closed

[2019-12-12 16:33] krguptaa commented on #570
closing this issue.

[2019-12-12 16:33] #570 closed

[2019-12-16 01:58] bangtiray opened #573 "The GET method is not supported for this route. Supported methods: POST"
i'm getting The GET method is not supported for this route. Supported methods: POST error when using API reset password
<img width="322" alt="1Untitled" src="https://user-images.githubusercontent.com/6264098/70873847-28744580-1fe2-11ea-9d3f-a0c975aad7e1.png">

with error like this
<img width="800" alt="2Untitled" src="https://user-images.githubusercontent.com/6264098/70873861-30cc8080-1fe2-11ea-91

[2019-12-18 12:43] izoj2013 commented on #570
Many thanks for your feedback.
Regards.
Iz.

    On Thursday, December 12, 2019, 6:34:01 PM GMT+2, Kamlesh Gupta <notifications@github.com> wrote:

closing this issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-20 16:44] deyvsonaguiar opened #576 "Error encryption key before composer install"
I followed the installation instructions but before running the "php artisan install: app" command I wanted to generate the Laravel key and came across this error.
Some commands executed to try to correct, without solution were:
-composer install
- composer update
- composer update -lock s

Any ideia for solution?

See the log of error:

`   RuntimeException  : No application encryption key has be

[2019-12-21 11:34] krguptaa commented on #576
Hello @deyvsonaguiar ,
Please perform below step to fix the issue.

1. update the APP_KEY with below
APP_KEY=base64:yGt894Zmq4S+QhrATlf88p2E7M9FE1fR+aq6acvdNjs=

2. Try to update composer with below command
composer update

It will fix the problem. Please let us know if any query or concern.

Thank you.

[2019-12-21 12:02] krguptaa commented on #576
Fixed the issue.

Closing the ticket

[2019-12-21 12:02] #576 closed

[2019-12-27 09:14] syafiqwahid opened #580 "cant load uploaded image"
hi there, i am succesfull upload new image howver it wont acessible... i tried everything to fetch uploaded imaged but still fail. please do assist me asap...... tq

Forbidden
You don't have permission to access /laravel-adminpanel/public/storage/img/logo/1577418463avatar-icon-png-8.jpg on this server.

[2020-01-03 07:52] SliceCut opened #581 "Symfony\Component\Debug\Exception\FatalThrowableError Call to undefined function Bvipul\Generator\Repositories\title_case()"
Bvipul\Generator\Repositories\ModuleRepository::create :56
C:\xampp\htdocs\laravel\laravel-adminpanel\vendor\bvipul\generator\src\Repositories\ModuleRepository.php:56

     * @throws GeneralException

     *

     * @return bool

     */

    public function create(array $input, array $permissions)

    {

        $module = Module::where('name', $input['name'])->first();

        if (!$module) {

[2020-01-03 17:18] krguptaa commented on #581
Hi @SliceCut ,

Have you working with latest code.? We already fixed this issue with recent update.

[2020-01-03 17:20] krguptaa commented on #580
Hi @syafiqwahid ,

Thanks for getting touch with us!

Please give the permission to storage and public folder.

[2020-01-03 17:32] SliceCut commented on #581
Should update composer?? Or again pull form ur github

On Fri, Jan 3, 2020, 11:03 PM Kamlesh Gupta <notifications@github.com>
wrote:

[2020-01-03 17:55] krguptaa commented on #581
First Get the pull from github and then after update the composer

[2020-01-22 09:40] NayHtwe24 opened #588 "TinyMCE image upload not found"

[2020-01-22 09:41] NayHtwe24 commented on #588
![screenshot-localhost_8000-2020 01](https://user-images.githubusercontent.com/43719216/72882927-d1c10080-3d31-11ea-9fd6-904bc215e642.png)

[2020-01-22 09:41] NayHtwe24 commented on #588
How to fix it

[2020-01-28 12:04] RohanMhz opened #591 "Editing Menu items"
when moving the menu items in form all the items get removed and after i try to custom add any new item it doesnt display the item.

[2020-01-30 18:59] rabol opened #595 "changing email settings have no effect"
Changing the email settings in the backend have no effect
Try to change and the register a user and you will see that the sender is hello@example.com

/config/mail.php uses 2 env vars

[2020-01-30 19:09] rabol opened #596 "telescope is installed but not integrated"
The package telescope is installed,  but it is not integrated not even a 'simple' link in the sidebar :)

[2020-01-30 19:10] rabol opened #597 "Use of abandoned packaged"
when installing or updating (composer update) one get this warning:

Package moontoast/math is abandoned, you should avoid using it. Use brick/math instead.
Package zendframework/zend-diactoros is abandoned, you should avoid using it. Use laminas/laminas-diactoros instead.

[2020-01-30 19:24] rabol opened #598 "no language files is created when creating a new module"
When creating a new module, no language file is created  as minimum those languages that is active should be created.

eg. /resources/lang/en/<module_name>

[2020-01-30 19:55] rabol opened #599 "not possible to cache routes"
/routes/Backend/Helpers.php uses a closure and therefor it is not possible to cache routes for performance

[2020-01-30 20:30] rabol opened #600 "new module is not in the sidebar"
If you create a new module it is not added to the sidebar menu

[2020-02-07 09:04] bvipul commented on #600
You have to add it manually to sidebar by going to 'Menu'.

[2020-02-07 09:04] #600 closed

[2020-02-07 09:05] bvipul commented on #598
We will need to add that feature to Generator. I will take up that task. Thank you for pointing that out.

[2020-02-07 09:05] #598 closed

[2020-02-18 06:54] rhaider-dev opened #603 "Permission not working"
If you edit executive permission and remove faq view and update it still shows the faq mangement section for executive.

You can see the bug in your demo also. I have the same issue for myself in localhost. Please fix the issue ASAP.

[2020-02-19 15:14] tranhueminh89 opened #604 "Error when create module"
I have installed Laravel 6.0 AdminPanel but when I can't create module. Pls help me check this error.
<img width="1054" alt="Screen Shot 2020-02-19 at 10 03 15 PM" src="https://user-images.githubusercontent.com/4223814/74847727-2a051580-5365-11ea-9645-aaa38e102158.png">
Thanks

[2020-02-21 08:43] bangtiray commented on #604
Make full access for all user first

[2020-02-29 10:15] shaileshsiddhiinfosoft opened #605 "Getting Error When Create New Module"
Getting Error When Create New Module
Please Help

Call to undefined function Bvipul\Generator\Repositories\title_case()

http://prntscr.com/r9f56h

[2020-03-03 11:05] abdul191993 commented on #580
how can i give the permission to storage and public folder..???

[2020-03-03 11:10] abdul191993 commented on #580
can you explain it more..??

[2020-03-03 12:10] abdul191993 opened #606 "storage access"
i m not able to access images even i have created symlink and i have uploaded some images for user profile and these images are not accessible.

[2020-03-03 13:27] Jerinvjose commented on #588
Any update on this?

[2020-03-06 12:02] anupalhub commented on #605
Are you able to fix it?

[2020-03-09 08:42] keerthana-2309 opened #607 "InvalidArgumentException Unsupported driver [mongodb]"
Is it possible to use Mongo db instead of Mysql?
Changed configuration in .env file and I am getting following error
 **InvalidArgumentException Unsupported driver [mongodb]**
Thanks in advance!!!

[2020-03-10 06:32] anupalhub opened #608 "Bootstrap 3 to Bootstrap 4"
Thanks for the repo guys.

Any plan to upgrade the Bootstrap to version 4 for both frontend and backend?

[2020-03-13 06:08] khushub opened #609 "how to run without php artisan serve"
i want to run this project on localhost without php artisan serve. so please provide htaccess file for that

[2020-03-13 10:40] ibaishya807 commented on #605
run composer update

[2020-03-16 07:57] khushub opened #612 "Image not uploaded pls resdolve it"
image not uploaded in blog management. can you fix it.

[2020-03-18 15:01] Jerin-deepnet commented on #588
This is due to the tinymce version. For a temporary workaround, you can change the tinymce version to 4.9.8 and comment the "theme: 'silver'" line from backend-custom.js file. The reason for this issue is in tinymce version 5, the file_browser_callback is removed.

[2020-03-24 18:08] rabol opened #615 "how to use blog and faq"
How to use the Blog and Faq module

[2020-04-04 06:05] alanwhitmore commented on #612
@khushub  can you please let me know on which module or area you are not able to upload a file.

[2020-04-04 06:07] #612 closed

[2020-04-04 06:27] viralsolani commented on #615
those are basic cruds. you can use that like other modules. though we have not added anything into the frontend part.

[2020-04-04 06:27] #615 closed

[2020-05-19 02:14] baduypaltalk commented on #588
![image](https://user-images.githubusercontent.com/8188362/82276999-00ce4280-99b1-11ea-87e8-3083e331cbf8.png)

Hi there,
In this project  sources, but "upload tab" or Upload browser still does not appear ! Plz help me @viralsolani  @bvipul

[2020-05-19 06:25] krguptaa commented on #609
Hello Khushub,

1.
Rename the "server.php" file in root directory, in "index.php"
Move your .htaccess from public folder to root directory
Make your directory accessible to Apache2 (set correct file/folder permissions).
2.
Consider using Apache Virtual Hosts (pointing the virtual host to the /public Laravel folder) instead of renaming server.php to index.php because by doing this you will need to

[2020-05-19 06:25] #609 closed

[2020-05-20 07:58] baduypaltalk commented on #588
Nobody here :)
But i've already resolved this issue.
it's so comfortable. 👯

Thanks for read.

[2020-05-24 04:32] packerdency opened #634 "The Mix manifest does not exist. (View: C:\xampp\htdocs\3-laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php)"
This is the error am getting
The Mix manifest does not exist. (View: C:\xampp\htdocs\3-laravel-adminpanel-master\resources\views\frontend\layouts\app.blade.php)

[2020-05-29 18:20] sagar03d opened #636 "Error while installing on Ubuntu 20.04"
![OnPaste 20200529-234844](https://user-images.githubusercontent.com/19644555/83292136-396ae900-a207-11ea-9a38-ecb9bb1b34d8.png)

[2020-06-09 00:59] sernovelli opened #640 "Error in install proccess in windows 10, laravel 7, php 7"
This error:

PHP Fatal error:  require(): Failed opening required 'F:\projetos\engerisco\jornada\laravel-adminpanel\bootstrap/../vendor/autoload.php' (include_path='.;C:\php\pear') in F:\projetos\engerisco\jornada\laravel-adminpanel\bootstrap\autoload.php on line 17

when runned the command:

php artisan install:app

[2020-06-09 14:52] bangtiray commented on #640
Running comman composer install

[2020-06-09 15:10] #640 closed

[2020-06-10 05:06] in-sohelrana commented on #588
please describe it how to solve

[2020-06-10 05:08] in-sohelrana commented on #588
@baduypaltalk
please describe it how to solve

[2020-06-11 12:11] jawadgit opened #641 "login package"
Hi

can anyone plz tell me what login package is used in laravel admin panel. i want to customize it according to my need.

is it laravel auth or laravel passport

and my use case is if user change its browser and login then after login 4-digit verification code will be sent to his email address. when he enters that 4-digit into form. then only he can login into system

[2020-06-11 13:34] baduypaltalk commented on #588
u can add my skype  "quocduy.itvn"
Regards,

[2020-06-20 16:17] AhmedNourJamalElDin opened #643 "Laravel 7 & krgupta/active"
Hi,

I've switched to laravel_7 branch, and it throws this error:

[code]

[2020-06-27 13:10] sumantablog commented on #634
Hi @packerdency

Follow the below step for resolve the `issue`
`- [ ] npm instal`

- [ ] npm run dev

now run the project

[2020-07-04 11:05] AhmedNourJamalElDin opened #647 "Admin.js & Other JS Files Locations"
Hello,

As I see there are many JS files in public folders but they should be in resources/assets/js folder and linked using Laravel mix.

Any reason for that?

Thanks

[2020-07-09 01:00] flik opened #651 "getting error during installation"
Hi,

need some help.

here is detail:

`Successfully created laravel_adminpanel database

   Doctrine\DBAL\Schema\SchemaException  : There is no column with name 'created_by' on table 'users'.

  at C:\xampp\htdocs\laravel-adminpanel\vendor\doctrine\dbal\lib\Doctrine\DBAL\Schema\SchemaException.php:82
    78|      * @return \Doctrine\DBAL\Schema\SchemaException
    79|      */
    80|     public s

[2020-07-09 17:07] mianhaseeb1 opened #652 "User role check issue"
$user->hasRole('') always return true

[2020-07-29 18:34] ghost opened #653 "title_case() function undefined"
title case() undefined while i am generating module ...

[2020-08-19 08:40] hendisantika opened #668 "Error during new user registration"
Error during new user registration.

![image](https://user-images.githubusercontent.com/3713580/90612473-47db0680-e232-11ea-808c-bb8634d9730f.png)

Any advice?
Thank You

[2020-08-20 15:42] krguptaa commented on #668
Hello @hendisantika ,

Can you please check your server is running or not?

[2020-08-20 15:53] krguptaa commented on #573
Issue Fixed.  Please check

[2020-08-20 15:53] #573 closed

[2020-08-20 15:57] krguptaa commented on #580
Hello @abdul191993

Please refer the below link

https://devanswers.co/how-to-view-file-and-folder-permissions-in-ubuntu/
https://askubuntu.com/questions/1104865/change-permissions-of-windows-mounted-folder-from-linux

Thnks

[2020-08-20 15:57] #580 closed

[2020-08-20 15:57] #581 closed

[2020-08-20 18:16] haseebJaved21 commented on #668
@hendisantika  please put your mail credentials in .env file

[2020-08-20 22:58] hendisantika commented on #668
HI @krguptaa & @haseebJaved21 , I already set smtp email using mailtrap.io then put in my .env file. My server is ok. That's why I can run the project then try register new user it turn error.

[2020-08-28 17:03] mohammedkhalf opened #678 "Error with npm run production"
when edit in backend-custom.css with custom color then run npm run production to apply color change , that return to default color blue ...what is problem ?

[2020-09-10 19:24] paritosh-22 opened #681 "mix manifest error"
error in npm run development

[2020-10-18 09:16] lim777 commented on #653
just to remove this function name
![Capture](https://user-images.githubusercontent.com/54060243/96363215-13fe5d80-115d-11eb-9fbe-8ad390b75916.PNG)
it'OK

[2020-10-20 06:52] alanwhitmore commented on #681
Please use the latest version. we have fixed this issue.

[2020-10-20 06:52] #681 closed

[2020-10-26 15:09] Mahwou opened #713 "Module Generator"
I can't find the module generator, and I wish to create a module how can I go about it?

[2020-10-30 06:27] NModern commented on #713
Yeah. I loved this admin-panel because of generator

[2020-10-30 06:31] NModern commented on #603
Hi. You can fix it with changing in routes/backend/auth.php line 87 "PermissionController" to "PermissionsController"

[2020-10-30 06:37] rhaider-dev commented on #603
Thanks for your reply. I will do that.

[2020-10-30 06:37] #603 closed

[2020-10-30 15:46] Mahwou commented on #713
Have you tried to find out about how we can see the generator from the current version because i can't find it whereas in the previous version we can find it there

[2020-10-30 15:54] Mahwou commented on #604
Run this command
"composer require laravel/helpers"

[2020-11-14 07:43] NModern commented on #713
I think we need to wait or write it by ourselves.

[2020-11-19 13:45] ketan32 opened #714 "Target class [App\Http\Controllers\Backend\Auth\Permission\PermissionController] does not exist."
In `/routes/backend/auth.php` file, in the below line:

`Route::resource('permission', 'PermissionController', ['except' => ['show']]);`

Need to correct the controller name as:

`Route::resource('permission', 'PermissionsController', ['except' => ['show']]);
`

With this change, it will able to find the correct controller class.

[2020-11-23 06:54] jawadgit opened #715 "module and menu not visible"
Hi

module and menu link not visible on left sidebar. i am unable to create new module?

[2020-12-17 10:59] alanwhitmore commented on #715
we have removed that from the new version. please check the new version.

[2020-12-17 10:59] #715 closed

[2020-12-17 11:02] #714 closed

[2020-12-17 11:11] alanwhitmore commented on #713
we have removed the module generator in the new version. we will add this very soon after rewriting it

[2020-12-17 11:11] #713 closed

[2020-12-17 11:14] alanwhitmore commented on #678
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:14] #678 closed

[2020-12-17 11:15] alanwhitmore commented on #668
you need to add new SMTP details in .env.

[2020-12-17 11:15] #668 closed

[2020-12-17 11:16] #653 closed

[2020-12-17 11:18] alanwhitmore commented on #652
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:18] #652 closed

[2020-12-17 11:19] alanwhitmore commented on #651
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:19] #651 closed

[2020-12-17 11:20] alanwhitmore commented on #647
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:20] #647 closed

[2020-12-17 11:21] alanwhitmore commented on #643
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:21] #643 closed

[2020-12-17 11:24] alanwhitmore commented on #641
we are not using any package for login.

[2020-12-17 11:24] #641 closed

[2020-12-17 11:25] alanwhitmore commented on #636
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:25] #636 closed

[2020-12-17 11:25] alanwhitmore commented on #634
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:25] #634 closed

[2020-12-17 11:26] alanwhitmore commented on #608
We have fixed issues in the new release. we are using bootstrap 4 now.

[2020-12-17 11:26] #608 closed

[2020-12-17 11:28] alanwhitmore commented on #607
Yes, it is possible. There are few packages available.

[2020-12-17 11:28] #607 closed

[2020-12-17 11:29] alanwhitmore commented on #606
please check permission once. We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:29] #606 closed

[2020-12-17 11:30] alanwhitmore commented on #605
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:30] #605 closed

[2020-12-17 11:31] alanwhitmore commented on #604
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:31] #604 closed

[2020-12-17 11:31] alanwhitmore commented on #599
We have fixed issues in the new release. please check and let me know if you still find it.

[2020-12-17 11:31] #599 closed

[2020-12-17 11:31] alanwhitmore commented on #597
We have fixed issues in the new release. please check and let me know if you still find it.